* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    background: url(../img/bg3.png) no-repeat 50%/cover;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

.main__block{
    display: flex;
    align-items: center;
    border: 1px solid #E7E7E7;
    background: rgba(0, 0, 0, 0.10);
    border-radius: 8px;
    padding-right: 20px;
}
.img-1{
    height: auto;
    width: 450px;
}

.main__block img{
    margin-right: 40px;
}

.main__block-wrapper p{
    color: #fff;
    font-size: 59px;
    font-family: 'waiaula';
    line-height: 60px;
}

.main__block-wrapper a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin-top: 20px;
    width: 200px;
    height: 44px;
    border-radius: 8px;
    background: linear-gradient(180deg, #CE3E62 0%, #C26766 100%);
    color: #fff;
    font-size: 32px;
    font-family: 'waiaula';
}

@media(max-width: 768px){
    .main__block img{
        margin-right: 10px;
    }
    .main__block-wrapper p br{
        display: none;

    }
    .img-1{
        width: 40%;
    }
    .img-2{
        width: 18%;
    }
    .main__block-wrapper p{
        font-size: 30px;
    }
    .main__block-wrapper a{
        width: 100%;
        font-size: 25px;
        height: 36px;
    }

}