.account {
 width: 100%;
 padding: 30px;
 background-color: var(--bcg-block);
 border-radius: 15px;   
}

.account__box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.account__title {
    margin-top: 20px;
    width: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: RobotoRegular, sans-serif;
    font-size: 16px;
    color: var(--text);
}

.account__info {
    margin-top: 35px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.account__info_balance {
    width: 25%;
}

.account__info_title {
    font-family: RobotoRegular, sans-serif;
    font-size: 16px;
    color: var(--text);
}

.account__info_value {
    margin: 5px 0 25px 0;
    font-family: RobotoRegular, sans-serif;
    font-size: 22px;
    color: var(--text);
    display: flex;
    align-items: center;
}

.account__info_value > img {
    margin-left: 20px;
    cursor: pointer;
}

.account__info_work {
    width: 40%;
}

.account__info_list {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.account__info_item {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.account__info_list_title {
    font-family: RobotoRegular, sans-serif;
    font-size: 16px;
    color: var(--text);
}

.account__info_list_value {
    font-family: RobotoRegular, sans-serif;
    font-size: 16px;
    color: var(--text);
}

.account__btns_container {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.account__btn {
    width: 100%;
    padding: 10px 15px;
    background-color: #C1A875;
    border-radius: 10px;
    text-align: center;
    font-family: RobotoRegular, sans-serif;
    font-size: 16px;
    color: var(--text);
    cursor: pointer;
}

.account__btn:hover {
    background-color: var(--bcg-button-hov);
}

.account__link {
    width: 100%;
    padding: 10px 15px;
    background-color: #000;
    border-radius: 10px;
    text-align: center;
    font-family: RobotoRegular, sans-serif;
    font-size: 16px;
    color: var(--text);  
    text-decoration: none;
    cursor: pointer;
}

.account__link:hover {
background-color: #C1A875;
color: #fff;
}

.account__btns_text {
    margin-top: 5px;
    width: 100%;
    display: flex;
    font-family: RobotoRegular, sans-serif;
    font-size: 11px;
    color: var(--text);  
}

.account__btns_text > img {
    margin-right: 10px;
}

.positions {
    margin-top: 30px;
    width: 100%;
}

.positions__title {
    font-family: RobotoRegular, sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: var(--text);
}

.positions__container {
    margin-top: 20px;
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.positions__item_name {
    font-family: RobotoRegular, sans-serif;
    font-size: 16px;
    color: var(--text);
}

.positions__item_value {
    display: block;
    margin-top: 10px;
    font-family: RobotoRegular, sans-serif;
    font-size: 16px;
    color: var(--text);
}

.statistic {
    margin-top: 60px;
    width: 100%;
}

.statistic__title {
    font-family: RobotoRegular, sans-serif;
    font-weight: 400;
}

.statistic__period {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    display: flex;
    align-items: center;
    font-family: RobotoRegular, sans-serif;
    font-size: 16px;
    color: var(--text);
}

.statistic__period-block{
    display: flex;
}
.statistic__period-block-mobile{
    display: none;
}

.statistic__total {
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.statistic__total_item {
    display: flex;
    align-items: center;
}

.statistic__total_name {
    margin-right: 15px;
    font-family: RobotoRegular, sans-serif;
    font-size: 16px;
    color: var(--text);
}

.statistic__total_value {
    font-family: RobotoRegular, sans-serif;
    font-size: 24px;
    color: var(--text);
}

.statistic__table {
    margin-top: 30px;
    display: flex;
}

.statistic__table_column {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.statistic__table_column:first-child{
    width: 60%;
}
.statistic__table_header {
    padding: 15px 0;
    width: 100%;
    background-color: var(--bcg);
    text-align: center;
    font-family: RobotoRegular, sans-serif;
    font-size: 14px;
    color: var(--text);
}

.statistic__table_header_first {
    border-radius: 15px 0 0 15px;
}

.statistic__table_header_last {
    border-radius: 0 15px 15px 0;
}

.statistic__table_value {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    font-family: RobotoRegular, sans-serif;
    font-size: 14px;
    color: var(--text);
    border-bottom: 1px solid #373C45;
}

.statistic__table_value img{
    width: 30px;
}
.statistic__table_value span{
    display: block;
    width: 100%;
    color: #A4A4A6;

}

.green { 
    color: #16891B;
}

.red { 
    color: #D24646;
}

.back:hover {
    stroke: var(--bcg-button-hov);
}
.account__box_small{
    display: none;
}

.token__block_wrapper{
    margin-bottom: 20px;
}

.token__block p{
    border-bottom: 1px solid #3c4651;
    padding-bottom: 20px;
    padding-top: 20px;
}

.token__block{
    height: 380px;
}
.dropdown-p{
    background-color: transparent;
    color: #fff;
    margin-right: 0;
    padding-right: 10px;
    padding-left: 0;
}
.token__block-detals{
    opacity: 0;
    height: 340px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 95%;
    background-color: #20252B;
    transition: all .5s;
    padding: 20px;
    z-index: -1;
}

.token__close-detals{
    color: #fff;
    font-size: 24px;
    position: absolute;
    top: 20px;
    right: 20px;
}
.row{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.token__title-detals{
    font-size: 20px;
    margin-bottom: 10px;
}

.statistics__accurate_filter_item_date-btn{
    height: auto;
    padding-bottom: 20px;
    border-bottom: 1px solid #3c4651;
    padding-top: 20px;
    font-size: 16px;
    color: #fff;
    width: 100%;
    border-radius: 0;
    position: relative;
}

.period-btn{
    display: inline-block;
    width: auto;
    border: none;
    padding: 0;
}

.dropdown.black{
    background-color: #000;
    color: #fff;
}

.statistics__accurate_filter_item_date-btn::-webkit-input-placeholder {
    color:    #fff;
    font-size: 16px;
 }

@media (max-width: 1200px){
    .statistic__total_value{
        font-size: 20px;
    }
    .statistics__accurate_filter_item_offers-btn span{
        font-size: 10px;
    }
    .statistics__accurate_table-head{
        font-size: 16px;
    }
}

@media (max-width: 769px){
    .account{
        padding: 30px 10px;
    }
    .statistic__period{
        font-size: 12px;
    }
    .account__btns_container{
        width: 50%;
    }
    .account__title{
        width: 50%;
    }
    .positions__container{
        width: 100%;
    }
    .statistic__total_name{
        margin-right: 5px;
        font-size: 12px;
    }
    .statistic__total_value{
        font-size: 14px;
    }
}

@media (max-width: 576px){
    .positions__title{
        font-size: 14px;
    }
    .account__link{
        font-size: 12px;
    }
    .account__info_value{
        font-size: 14px;
    }
    .account__info_list_value{
        font-size: 14px;
    }
    .account__info_list{
        width: 50%;
    }
    .account__info_balance{
        width: 40%;
    }
    .account__info_list_title, .account__info_title{
        font-size: 12px;
    }
    .account__title{
        margin-top: 50px;
        width: 100%;
    }
    .account{
        position: relative;
        padding-top: 20px;
    }
    .account__box{
        display: none;
    }
    .account__box_small{
        display: block;
    }
    .account__btns_container{
        margin: 0 auto;
        margin-top: 30px;
        width: 100%;
    }
    .account__btns_text{
        font-size: 12px;
        line-height: 16px;
    }
    .account__box_small-link {
        position: absolute;
        top: 20px;
    }
    .positions__container{
        display: block;
    }
    .positions__item{
        display: inline-block;
        width: 48%;
    }
    .positions__item_name{
        font-size: 14px;
        margin-bottom: 0;
    }
    .positions__item_value{
        font-size: 14px;
        margin-top: 0;
        margin-bottom: 10px;
    }
    .statistic__period{
        display: block;
        font-size: 12px;
    }
    .statistic__period-block{
        display: none;
    }
    .statistic__period-block-mobile{
        display: flex;
        white-space: nowrap;
        font-size: 12px;
        height: 90px;
        overflow-y: hidden;
        overflow-x: auto;
        -webkit-overflow-scrolling: auto;
    }
    .statistic__table{
        margin-top: 0;
    }

    .statistic__period-block-mobile::-webkit-scrollbar {
        display: none;
        
      }

    .date{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        margin-bottom: 10px;
        font-size: 12px;
        height: 30px;
        width: 80px;
        margin-right: 10px;
    }
    .dropdown{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 0;
        width: 120px;
        height: 30px;
        font-size: 12px;
    }

    .statistic__total{
        display: block;
    }
    .statistic__total_name{
        font-size: 16px;
    }
    .statistic__total_value{
        font-size: 16px;
        margin-left: 10px;
    }
    .statistic__table_header{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 8px;
        padding: 0;
        line-height: 6px;
        height: 20px;
    }
    .statistic__table_column:nth-child(6){
        display: none;
    }
    .statistic__table_column:nth-child(5){
        display: none;
    }
    .statistic__table_column:nth-child(4){
        display: none;
    }
    .statistic__table_header_first{
        border-radius: 0;
    }
}