.connect__optimization {
    margin-top: 40px;
    width: 100%;
    padding: 30px;
    display: flex;
    background-color: var(--bcg-block);
    border-radius: 15px;
}

.connect__optimization_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.connect__optimization_content > img {
    margin: 10px 0;
    border-radius: 15px;
    width: 100%;
}

.connect__optimization_title {
    font-size: 28px;
    line-height: 1.5;
}

.connect__optimization_text {
    margin-top: 20px;
    font-family: RobotoRegular, sans-serif;
    font-size: 16px;
    line-height: 1.4;
    color: var(--text);
}

.connect__exchange {
    margin-top: 30px;
    width: 100%;
    padding: 30px;
    background-color: var(--bcg-block);
    border-radius: 15px;
}

.connect__exchange_title {
    width: 90%;
    font-size: 24px;
    line-height: 1.5;
}

.connect__exchange_text {
    margin-top: 25px;
    font-family: RobotoRegular, sans-serif;
    font-size: 18px;
    line-height: 1.4;
    color: var(--text);
}

.connect__exchange_action {
    margin-top: 30px;
    font-family: RobotoRegular, sans-serif;
    font-size: 20px;
    color: var(--text);
}

.connect__exchange_section {
    margin-top: 20px;
}

.connect__exchange_section_btn {
    margin-right: 20px;
    padding: 5px 25px;
    border-radius: 10px;
    font-family: RobotoRegular, sans-serif;
    font-size: 16px;
    color: var(--text);
    cursor: pointer;
}

.connect__exchange_section_btn:hover {
    color: var(--bcg-button);
}

.connect__exchange_section_btn_action {
    background-color: #2A3139;
}

.connect__exchange_section_btn_action:hover {
    color: var(--text);
}

.connect__exchange_box {
    margin-top: 20px;
    width: 100%;
    overflow: hidden;
}

.connect__exchange_container {
    display: flex;
    transition: transform ease-in 0.3s;
}

.connect__exchange_items {
    min-width: 100%;
    padding-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
}

.connect__exchange_items_box {
    margin-top: 15px;
    width: 25%;
    display: flex;
    justify-content: center;
}

.connect__exchange_items_btn {
    padding: 15px 25px;
    min-width: 230px;
    display: flex;
    align-items: center;
    background-color: #000;
    border-radius: 15px;
    font-family: RobotoRegular, sans-serif;
    font-size: 20px;
    color: var(--text);
    cursor: pointer;
}

.connect__exchange_items_btn_active {
    outline: 1px solid var(--bcg-button);
}

.connect__exchange_items_btn > img {
    margin-right: 20px;
}

.connect__exchange_next {
    margin-left: 90%;
    width: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: end;
    text-decoration: none;
    font-family: RobotoRegular, sans-serif;
    font-size: 20px;
    color: #fff;
}

.connect__exchange_next > span {
    display: flex;
    align-items: center;
    margin-bottom: 3px;
}

.referral {
    margin-top: 40px;
}

.referral__item {
    margin-top: 30px;
    padding: 25px;
    background-color: var(--bcg-block);
    border-radius: 15px;
}

.referral__preview {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.referral__img {
    position: relative;
}

.referral__trigger {
    position: absolute;
    top: -50px;
    width: 170px;
    padding: 5px 20px;
    border-radius: 5px;
    background-color: #00B488;
    font-family: RobotoRegular, sans-serif;
    font-size: 14px;
    color: var(--text);
}

.referral__container {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.referral__box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.referral__box > p {
    font-family: RobotoRegular, sans-serif;
    font-size: 14px;
    color: var(--text);
}

.referral__box > span {
    font-family: RobotoRegular, sans-serif;
    font-size: 14px;
    color: var(--text);
}

.referral__line {
    min-width: 1px;
    min-height: 70px;
    border-left: 1px solid var(--text);
}

.referral__box_content {
    display: flex;
    justify-content: space-between;
}

.referral__box_content > p {
    font-family: RobotoRegular, sans-serif;
    font-size: 14px;
    color: var(--text);
}

.referral__box_content > span {
    margin-left: 20px;
    font-family: RobotoRegular, sans-serif;
    font-size: 14px;
    color: var(--text);
}

.referral__link {
    padding: 10px 30px;
    background-color: var(--bcg-button-black);
    border-radius: 10px;
    font-family: RobotoRegular, sans-serif;
    font-size: 16px;
    color: var(--text);
    text-decoration: none;
}

.referral__link:hover {
    background-color: #C1A875;
    color: #fff;
}


.referral__btn {
    margin-top: 10px;
    font-family: RobotoRegular, sans-serif;
    font-size: 16px;
    cursor: pointer;
}

.referral__btn:hover {
    color: var(--text-gray);
}

.referral__content {
    max-height: 100%;
    width: 100%;
    padding: 20px 0;
    overflow: hidden;
}

.referral__content_container {
    width: 100%;
    margin-top: 20px;
    display: flex;
}

.referral__content_container_list {
    margin-right: 80px;
}

.referral__content_container_list_item {
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    font-family: RobotoRegular, sans-serif;
    font-size: 14px;
    color: var(--text);
}

.referral__content_container_list_item > img {
    margin-right: 15px;
}

.referral__content_container_item {
    margin-right: 30px;
}

.referral__content_container_item > p {
    margin-bottom: 10px;
    font-family: RobotoRegular, sans-serif;
    font-size: 32px;
    color: var(--text);
    text-align: center;
}

.referral__content_container_item > span {
    font-family: RobotoRegular, sans-serif;
    font-size: 14px;
    color: var(--text);
}

.referral__content_text {
    margin-top: 30px;
    font-family: RobotoRegular, sans-serif;
    font-size: 16px;
    color: var(--text);
}

.referral__content_btn_box {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.referral__content_btn {
    margin-right: 20px;
    display: flex;
    font-family: RobotoRegular, sans-serif;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
}

.referral__content_btn > span {
    margin-left: 15px;
    transform: rotate(270deg);
}

.referral__content_hide {
    max-height: 0;
    padding: 0;
}

.partners {
    margin-top: 50px;
    width: 100%;
    padding: 30px;
    background-color: var(--bcg-block);
    border-radius: 15px;
}

.partners__text {
    margin-top: 20px;
    font-family: RobotoRegular, sans-serif;
    font-size: 16px;
    color: var(--text);
}

.partners__input {
    display: block;
    margin: 30px auto 0;
    padding: 16px 0;
    width: 375px;
    outline: none;
    background-color: #20252B;
    border-radius: 10px;
    border: 1px solid #D9D9D9;
    text-align: center;
    color: #D9D9D9;
}

.partners__btn {
    margin: 10px auto 0;
    padding: 16px 0;
    display: flex;
    justify-content: center;
    width: 375px;
    background-color: var(--bcg-button-black);
    border-radius: 10px;
    font-family: RobotoRegular, sans-serif;
    font-size: 16px;
    color: var(--text);
    cursor: pointer;
}

.partners__btn:hover{
    background-color: #C1A875;
}

.connect__accounts {
    margin-top: 30px;
    width: 100%;
    padding: 30px;
    background-color: #191A1F;
    border-radius: 15px;
}

.connect__accounts_box {
    margin-top: 30px;
    width: 100%;
    display: flex;
}

.connect__accounts_item {
    margin-right: 25px;
    padding: 20px 14px 20px 20px;
    background-color: #2A3139;
    border-radius: 15px;
    width: 284px;
    border: solid 2px transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.connect__accounts_item:hover {
    background-color: var(--bcg-block);
    border: solid 2px var(--bcg-button);
}

.connect__accounts_item:hover > div > svg > path {
    fill: var(--bcg-button);
}

.connect__accounts_text {
    margin: 15px 0 0 15px;
    display: flex;
    align-items: center;
    font-family: RobotoRegular, sans-serif;
    font-size: 14px;
    color: var(--text);
}

.connect__accounts_text > img {
    margin-left: 15px;
}

.connect__accounts_value {
    margin: 10px 0 0 15px;
    font-family: RobotoRegular, sans-serif;
    font-size: 20px;
}

@media (max-width: 769px){
    .referral__content_container_item > p{
        font-size: 16px;
    }
    .referral__content_container_list{
        margin-right: 20px;
    }
    .referral__box{
        flex-direction: unset;
    }
    .referral__link{
        padding: 3px 20px;
        margin-top: 10px;
    }

    .referral__box > span, .referral__box > p{
        font-size: 12px;
    }
    
    .referral__box_content > p, .referral__box_content > span{
        font-size: 12px;
        margin-left: 5px;
    }
    .referral__box_content{
        margin-right: 5px;
    }
    .referral__box_content > p{
        margin-left: 0;
    }
    .referral__item{
        padding: 20px;
    }
    .referral__container{
        display: block;
        margin-left: 10px;
    }
    .referral__line{
        display: none;
    }
}

@media (max-width: 576px){
    .referral__trigger{
        top: -40px;
    }
    .referral__title{
        font-size: 14px;
    }
    .referral__box{
        display: block;
        width: 100%;
    }
    .referral__item{
        padding: 10px;
        margin-top: 20px;
    }
    .referral__img{
        width: 100px;
        display: inline-block;
        margin-top: 20px;
    }
    .referral__img img{
        width: 100%;
        margin-left: 10px;
    }
    .connect__optimization_title, .connect__exchange_title{
        font-size: 18px;
    }
    .connect__optimization_text, .connect__exchange_text{
        font-size: 14px;
        line-height: 16px;
    }
    .connect__exchange_section_btn{
        display: block;
        padding: 5px 10px;
    }
    .connect__exchange_next{
        margin-left: 25px;
        margin-top: 5px;
    }
    .referral__preview{
        display: block;
    }
    .referral__box_content{
        display: block;
        margin-bottom: 10px;
    }
    .referral__box_content > span {
        font-size: 12px;
        margin-left: 0px;
    }
    
    .partners__input{
        width: 100%;
    }
    .partners__btn{
        width: 100%;
    }
    .connect__exchange{
        padding: 10px;
    }
}