body {
    color: var(--text);
    font-family: RobotoRegular;
    font-weight: 400;
    line-height: 135%;
}

a {
    text-decoration: none;
    color: #fff;
}
a:hover{
    color: var(--text-gray);
}


li {
    list-style-type: none;
}

.referral {
    margin-top: 33px;
    padding: 29px 66px 28px 40px;
    background-color: var(--bcg-block);
    border-radius: 10px;
}

.referral__hide {
    display: none;
}

h2 {
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 24px;
    line-height: 135%;
}

h3 {
    font-weight: 400;
    font-size: 16px;
    line-height: 135%;
}

h4 {
    margin-bottom: 19px;
    font-weight: 400;
    font-size: 20px;
    line-height: 135%;
    font-variant: all-small-caps;
}

h5 {
    font-weight: 400;
    font-size: 18px;
    line-height: 135%;
    padding-right: 2%;
}

.referral__title {
    font-size: 16px;
    margin-bottom: 3px;
    font-weight: 400;
    line-height: 135%;
}

.referral__description {
    margin-top: 4px;
    font-size: 14px;
    line-height: 135%;
}

#referral__link {
    display: block;
    width: 100%;
    margin: 16px 0;
    font-size: 14px;
    color: var(--text);
    background-color: var(--bcg-block);
    border: none;
    outline: none;
    
}

#referral__link::selection {
    background: var(--bcg-block);
}

#referral__link::-moz-selection {
    background: var(--bcg-block);
}

#referral__copy_link {
    font-size: 16px;
    font-family: RobotoRegular;
    font-variant: all-small-caps;
    padding: 2px 24px 3px 24px;
    border-radius: 5px;
    color: var(--bcg-button-black);
    background-color: var(--text);
    cursor: pointer;
    position: relative;
    z-index: 5;
}

#referral__copy_link:hover {
    background-color: var(--icon);
}

#referral__copy_link:active {
    background-color: var(--text-gray);
}

.referal__btn {
    display: block;
    text-align: end;
    font-size: 20px;
    color: var(--text);
}

.referal__btn:hover {
    color: var(--text-gray);
} 

.referral__scheme {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.referral__first_step {
    max-width: 366px;
    padding-left: 130px;
    position: relative;
    margin-bottom: 65px;
}

.referral__first_step img {
    position: absolute;
    left: 0px;
}

.referral__second_step {
    max-width: 366px;
    padding-right: 130px;
    position: relative;
    margin-bottom: 65px;
}

.referral__second_step img {
    position: absolute;
    bottom: -9px;
    right: -167px;
}

.referral__third_step {
    max-width: 393px;
    padding-left: 130px;
    position: relative;
    margin-bottom: 65px;
}

.statistics__accurate_chart {
    padding-top: 40px;
}

.referral__third_step img {
    position: absolute;
    left: 0px;
}

.referral__fourth_step {
    max-width: 371px;
    padding-right: 130px;
    position: relative;
    margin-bottom: 65px;
    margin-right: 25px;
}

.referral__fourth_step img {
    position: absolute;
    bottom: -1px;
    right: 0px;
}

.partners {
    display: flex;
    margin-top: 33px;
    padding: 30px 35px 43px 42px;
    background-color: var(--bcg-block);
    border-radius: 10px;
}

.partners__btn {
    font-weight: 400;
    font-size: 16px;
    line-height: 135%;
    cursor: pointer;
}

.partners__btn:hover {
    color: var(--text-gray);
}

.left__col {
    width: 38%;
}

.left__col > h3 {
    width: 100%;
    font-weight: 400;
    font-size: 14px;
    line-height: 135%;
}

.partners__copy-link {
    max-width: 276px;
    margin: 30px 0 17px;
}

.partners__copy-link li {
    width: 90%;
    margin-bottom: 15px;
    position: relative;
}

.partners__text_icon {
    position: absolute;
    right: 0;
    top: 0;
}

.copy-confirmation {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 40px;
    background-color: #FFF;
    border-radius: 10px;
    position: absolute;
    top: -6px;
    left: 104%;
    opacity: 0;
    transition: .9s ease all;
}

.copy-confirmation-two {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 40px;
    background-color: #FFF;
    border-radius: 10px;
    position: absolute;
    top: -6px;
    left: 104%;
    opacity: 0;
    transition: .9s ease all;
}

.copy-confirmation-two_active {
    opacity: 1;
}

.copy-confirmation-three {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 40px;
    background-color: #FFF;
    border-radius: 10px;
    position: absolute;
    top: -6px;
    left: 104%;
    opacity: 0;
    transition: .9s ease all;
}

.copy-confirmation-three_active {
    opacity: 1;
}

.copy-confirmation_active {
    opacity: 1;
}

.copy-confirmation span {
    margin-left: 9px;
    color: black;
    font-size: 14px;
}

.copy-confirmation-two span {
    margin-left: 9px;
    color: black;
    font-size: 14px;
}

.copy-confirmation-three span {
    margin-left: 9px;
    color: black;
    font-size: 14px;
}

.partners__text_icon:hover circle {
    fill: var(--icon);
}

.partners__text_btn {
    cursor: pointer;
}

.partners__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 135%; 
    color: var(--text);
}

#partners__text-one {
    width: 100%;
    font-weight: 400;
    font-size: 14px;
    line-height: 135%; 
    color: var(--text);
    background-color: var(--bcg-block);
    border: none;
    outline: none;
    cursor: pointer;
}


#partners__text-two {
    width: 100%;
    font-weight: 400;
    font-size: 14px;
    line-height: 135%; 
    color: var(--text);
    background-color: var(--bcg-block);
    border: none;
    outline: none;
    cursor: pointer;
}

#partners__text-three {
    width: 100%;
    font-weight: 400;
    font-size: 14px;
    line-height: 135%; 
    color: var(--text);
    background-color: var(--bcg-block);
    border: none;
    outline: none;
}

.right__col {
    width: 62%;
    padding-left: 30px;
}

.right__col-title {
    display: flex;
    justify-content: space-between;
}

.right__col-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 135%;
}

.right__col-procent {
    display: block;
    margin: 17px 0 40px;
    font-weight: 400;
    font-size: 32px;
    line-height: 135%;
}

.right__col-line {
    max-width: 406px;
    margin: 0 auto 48px;
}

.right__col-points {
    display: flex;
    justify-content: space-around;
}

.point {
    width: 54px;
    height: 36px;
    padding-left: 27px;
    background-image: url(../img/partners/default_point.svg);
    background-repeat: no-repeat;
    z-index: 1;
}

.point span {
    font-size: 14px;
    line-height: 135%;
    position: relative;
    top: -3px;
}

.point__active {                                                               /*активный поинт*/
    position: relative;
    bottom: 4px;
    width: 54px;
    height: 36px;
    background-image: url(../img/partners/active_point.svg);
    background-repeat: no-repeat;
    z-index: 3;
}

.point__lock {                                                                 /*закрытый поинт*/
    width: 54px;
    height: 36px;
    background-image: url(../img/partners/lock_point.svg);
    background-repeat: no-repeat;
    color: var(--icon);
    z-index: 3;
}

.right__col-place {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.right__col-place > div {
    display: flex;
    justify-content: space-between;
    width: 74%;
    padding: 9px 19px 9px 15px;
    background: #000;
    border-radius: 5px;
}

.right__col-rating {
    margin-bottom: 10px;
}

.line__gray {
    max-width: 406px;
    height: 13px;
    background: #424952;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}

.line__white {
    width: 28%;
    height: 13px;
    background: #FFFFFF;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}

.tab__menu {
    margin: 40px 0 15px;
    padding: 5px 45px;
    background-color: var(--bcg-block);
    border-radius: 10px;
}

.tab__menu_btn {
    padding: 5px 8px 5px 8px;
    border-radius: 5px;
    margin-right: 16px;
    font-size: 16px;
    cursor: pointer;
}

.tab__menu_btn:hover {
    color: var(--text-gray);
}

.tab__menu_btn_active {
    background-color: #000;
}

.tab__menu_btn_active:hover {
    color: var(--text);
}

.statistics__general {
    padding: 30px 40px 40px 40px;
    background-color: var(--bcg-block);
    border-radius: 10px;
}

.statistics__general_title {
    display: flex;
    align-items: center;
}

.statistics__general_title h2 {
    margin-bottom: 0;
    margin: 0 12px 0 0;
    font-size: 24px;
}

.statistics__title-text {
    width: 151px;
    font-size: 12px;

}

.transfer__input_dropdown {
    width: 121px;
    position: relative;
    margin: 0 16px 0 30%;
}

.transfer__input_dropdown_value {
    width: 100%;
    height: 30px;
    padding: 0px 10px 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bcg-button-black);
    border-radius: 15px;
    cursor: pointer;
    font-family: RobotoRegular, sans-serif;
    font-size: 12px;
    color: var(--text);
}

.transfer__input_dropdown_value_box {
    display: flex;
    align-items: center;
}

.transfer__input_dropdown_value_box > img {
    margin-right: 10px;
    width: 25px;
    height: 25px;
}

.transfer__input_dropdown_value_arrow > svg {
    transition: transform ease-in 0.3s;
}

.transfer__input_dropdown_list {
    position: absolute;
    left: 0;
    right: 0;
    top: 35px;
    background-color: var(--bcg-button-black);
    border-radius: 5px;
    overflow: hidden;
    display: none;
}

.transfer__input_dropdown_list_active {
    display: block;
}

.transfer__input_dropdown_list > input {
    width: 100%;
    padding: 5px 30px;
    background-image: url("../img/transfer/search.svg");
    background-repeat: no-repeat;
    background-position: 10px;
    font-family: RobotoRegular, sans-serif;
    font-size: 16px;
    color: #8F8F91;
    border: none;
    border-bottom: 1px solid #8F8F91;
    outline: none;
    background-color: #373C45;
}

.transfer__input_dropdown_list > input:focus {
    outline: none;
}

.transfer__input_dropdown_item {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    font-family: RobotoRegular, sans-serif;
    font-size: 12px;
    color: var(--text);
}

.transfer__input_dropdown_item:hover {
    background-color: #191D23;
}

.transfer__input_dropdown_item_img {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

.transfer__input_dropdown_item_content {
    display: flex;
    align-items: center;
}

.transfer__input_dropdown_item_check {
    display: none;
}

.transfer__input_dropdown_item_check_active {
    display: block;
}

.statistics__general_title_tab {
    display: flex;
    align-items: center;
    padding: 0px 8px 0px;
    height: 30px;
    background-color: var(--bcg-button-black);
    border-radius: 15px;
}

.statistics__general_title_tab_btn {
    padding: 1px 7px;
    border-radius: 5px;
    font-weight: 400;
    font-size: 12px;
    line-height: 135%;
    background-color: var(--bcg-button-black);
    cursor: pointer;
}

.statistics__general_title_tab_btn-active {
    background-color: var(--bcg);
}

.statistics__general_info {
    display: flex;
    justify-content: space-between;
    margin: 22px 65px 0 0;
}

.statistics__general_info_col > p {
    font-size: 14px;
    line-height: 135%;
    margin-bottom: 10px;
}

.statistics__general_info_col > span {
    font-size: 16px;
    line-height: 135%;
}

.statistics__general_info_col_usdt::after {
    content: 'USDT';
    font-size: 11px;
    margin-left: 6px;
}

.statistics__accurate {
    margin-top: 20px;
    padding: 30px 36px 42px 40px;
    background-color: var(--bcg-block);
    border-radius: 10px;
}

.statistics__accurate_menu {
    display: flex;
    align-items: center;
}

.statistics__accurate_menu_btn {
    font-size: 20px;
    cursor: pointer;
}

.statistics__accurate_menu_btn:hover {
    color: var(--icon);
}

.statistics__accurate_menu_btn-active {
    color: var(--icon);
}

.statistics__accurate_menu_line {
    display: inline-block;
    width: 1px;
    height: 19px;
    margin: 0 1%;
    background-color: var(--text);
}

.statistics__accurate_menu_line:hover {
    color: var(--icon);
}

.statistics__accurate_menu_line:active {
    color: var(--icon);
}
 
.statistics__accurate_menu_reset {
    padding: 8px 10px;
    margin-left: 3%;
    background-color: var(--bcg-button-black);
    border-radius: 5px;
    cursor: pointer;
}

.statistics__accurate_filter {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 92.68%;
    height: 30px;
    border-spacing: 0px;
    margin: 20px auto 30px;
    margin-left: 0;
}

.statistics__accurate_filter_item {
    display: flex;
    align-items: center;
    width: 15.78%;
    height: 100%;
    padding: 4px 10px;
    border-radius: 5px;
    background-color: var(--bcg-button-black);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 135%;
    position: relative;
    cursor: pointer;
}

.statistics__accurate_filter_item:hover {
    background-color: #373C45;
}

.statistics__accurate_filter_item button,input:hover {
    cursor: pointer;
}

.statistics__accurate_filter_item_offers-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.statistics__accurate_filter_item_offers-btn svg {
    position: absolute;
    right: 10px;
    top: 9px;
}

.statistics__accurate_filter_item_date-btn {
    width: 96%;
    height: 100%;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 135%;
    border: none;
    outline: none;
    border-radius: 5px;
    position: absolute;
    left: 4px;
    top: 0;
    filter: invert(1) hue-rotate(240deg);
    background: rgba(0, 0, 0, 0);
}

.statistics__accurate_table {
    max-width: 949px;
    border-spacing: 0px;
    margin-bottom: 30px;
}

.statistics__accurate_table-district {
    border-bottom: 1px solid #373C45;
    padding: 9px 0;
    font-size: 16px;
}

.statistics__accurate_table-head {
    width: 12.6%;;
    text-align: left;
    font-weight: 400;
    font-size: 20px;
    padding-bottom: 16px;
    border-bottom: 1px solid #373C45;
}


.opportunities {
    margin-top: 15px;
    padding: 30px 42px 40px 40px;
    background: var(--bcg-block);
    border-radius: 10px;
}

.opportunities h2 {
    max-width: 636px;
}

.opportunities p {
    max-width: 943px;
    font-weight: 400;
    font-size: 18px;
    line-height: 135%;
}

.opportunities__advantages {
    display: flex;
    justify-content: space-between;
    margin: 40px 0 50px;
}

.opportunities__advantages figure img {
    margin-left: 32%;
}

.opportunities__advantages figure figcaption {
    max-width: 307px;
    font-size: 20px;
    line-height: 135%;
}

.opportunities__btn {
    display: block;
    max-width: 419px;
    margin: 0 auto;
    padding: 13px 31px;
    background-color: var(--bcg-button-black);
    border-radius: 10px;
    font-size: 18px;
    line-height: 135%;
    font-variant: all-small-caps;
    cursor: pointer;
}

.opportunities__btn:hover {
    background-color: #C1A875;
    color: #fff;
}

.investors {
    padding: 30px 42px 40px 40px;
    background: var(--bcg-block);
    border-radius: 10px;
}

.investors__line {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 9px 25px;
    background-color: var(--bcg-button-black);
    border-radius: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 135%;
}

.investors__line img {
    cursor: pointer;
}

.investors__window {
    margin: 10px 0 10px;
    background-color: var(--bcg-button-black);
    border-radius: 10px;
}

.investors__window_line {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 9px 25px;
    font-weight: 400;
    font-size: 16px;
    line-height: 135%;
}

.investors__window_arrow {
    cursor: pointer;
}

.investors__window_arrow_active {
    transform: rotate(180deg);
}

.investors__window_data_box {
    display: none;
}

.investors__window_data {
    margin: 0 auto;
    width: 100%;
    margin-top: 30px;
    border-collapse: collapse;
    font-weight: 400;
    font-size: 16px;
    line-height: 135%;
}

.investors__window_data_active {
    display: block;
    padding-bottom: 15px;
}

.investors__window_data_road:not(:last-child) {
    border-bottom: 1px solid var(--icon);
}

.investors__window_data_cell {
    padding: 2px 24px 22px;
}

.investors__window > .pages {
    margin-top: 10px;
    padding-bottom: 16px;
}


.offers__wrap {
    padding: 30px 35px 40px 43px;
    background: var(--bcg-block);
    border-radius: 10px;
}

.offers__division_breadcrumb {
    display: flex;
    align-items: center;
    margin-bottom: 21px;
    font-size: 13px;
    font-family: 'RobotoRegular';
    line-height: 135%;
}

.offers__division_breadcrumb > a {
    color: var(--text);
}

.offers__division_breadcrumb > a:hover {
    text-decoration: underline solid var(--text);  
}

.breadcrumb__arrow {
    margin: 0 13px 0 10px;
}

.offers__element {
    display: flex;
    justify-content: space-between;
    border: 2px solid #424952;
    border-radius: 10px;
    padding: 23px 32px 26px 24px;
    margin-bottom: 15px;
}

.offers__element_center {
    width: 55%;
    position: relative;
}

.offers__element_center_title {
    font-size: 24px;
    line-height: 135%;
    margin-bottom: 4px;
}

.offers__element_center_statistic {
    display: flex;
    justify-content: space-between;
}

.offers__element_center_statistic_col {
    display: flex;
    width: 100%;
    max-width: 232px;
    justify-content: space-between;
}

.offers__element_center_statistic_col-left span, .offers__element_center_statistic_col-right span {
    display: block;
    font-weight: 400;
    font-size: 16px;
    line-height: 135%;
    margin-bottom: 2px;
}

.offers__element_center_statistic_col-right {
    text-align: right;
}

.offers__element_link {
    display: flex;
    align-items: center;
    position: relative;
}

.offers__element_link svg {
    cursor: pointer;
}

.offers__element_link svg:hover circle {
    fill: var(--icon);
}

.offers__element_center_btn {
    height: 35px;
    margin-right: 14px;
    padding: 6px 24px 7px;
    color: var(--text);
    background: var(--bcg-button-black);
    border-radius: 5px;
    font-size: 16px;
    line-height: 135%;
    font-variant: all-small-caps;
}

.offers__element_center_btn:hover {
    background-color: #C1A875;
    color: #fff;
}

#ali__link {
    display: none;
}

#ali__link_two {
    display: none;
}

#ali__link_three {
    display: none;
}

.copy-confirmation-offer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 40px;
    background-color: #FFF;
    border-radius: 10px;
    position: absolute;
    top: 18px;
    left: 104%;
    opacity: 0;
    transition: .9s ease all;
}

.copy-confirmation-offer span {
    margin-left: 9px;
    color: black;
    font-size: 14px;
}

.copy-confirmation-offer_active {
    opacity: 1;
}

.copy-confirmation-offer-two {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 40px;
    background-color: #FFF;
    border-radius: 10px;
    position: absolute;
    top: 18px;
    left: 104%;
    opacity: 0;
    transition: .9s ease all;
}

.copy-confirmation-offer-two span {
    margin-left: 9px;
    color: black;
    font-size: 14px;
}

.copy-confirmation-offer-two_active {
    opacity: 1;
}

.copy-confirmation-offer-three {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 40px;
    background-color: #FFF;
    border-radius: 10px;
    position: absolute;
    top: 18px;
    left: 104%;
    opacity: 0;
    transition: .9s ease all;
}

.copy-confirmation-offer-three span {
    margin-left: 9px;
    color: black;
    font-size: 14px;
}

.copy-confirmation-offer-three_active {
    opacity: 1;
}

#bank {
    display: none;
}

#bank__credit {
    display: none;
}

#loans {
    display: none;
}

.copy-confirmation-bank {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 40px;
    background-color: #FFF;
    border-radius: 10px;
    position: absolute;
    top: -6px;
    left: 104%;
    opacity: 0;
    transition: .9s ease all;
    z-index: 4;
}

.copy-confirmation-bank span {
    margin-left: 9px;
    color: black;
    font-size: 14px;
}

.copy-confirmation-bank_active {
    opacity: 1;
}

.copy-confirmation-bank__credit {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 40px;
    background-color: #FFF;
    border-radius: 10px;
    position: absolute;
    top: -6px;
    left: 104%;
    opacity: 0;
    transition: .9s ease all;
    z-index: 4;
}

.copy-confirmation-bank__credit span {
    margin-left: 9px;
    color: black;
    font-size: 14px;
}

.copy-confirmation-bank__credit_active {
    opacity: 1;
}

.copy-confirmation-loans {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 40px;
    background-color: #FFF;
    border-radius: 10px;
    position: absolute;
    top: -6px;
    left: 104%;
    opacity: 0;
    transition: .9s ease all;
    z-index: 4;
}

.copy-confirmation-loans span {
    margin-left: 9px;
    color: black;
    font-size: 14px;
}

.copy-confirmation-loans_active {
    opacity: 1;
}

#bank {
    display: none;
}

#bank__credit {
    display: none;
}

#loans {
    display: none;
}

.copy-confirmation-first {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 40px;
    background-color: #FFF;
    border-radius: 10px;
    position: absolute;
    top: 583px;
    left: 81%;
    opacity: 0;
    transition: .9s ease all;
    z-index: 4;
}

.copy-confirmation-first span {
    margin-left: 9px;
    color: black;
    font-size: 14px;
}

.copy-confirmation-first_active {
    opacity: 1;
}

.copy-confirmation-second {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 40px;
    background-color: #FFF;
    border-radius: 10px;
    position: absolute;
    top: 583px;
    left: 81%;
    opacity: 0;
    transition: .9s ease all;
    z-index: 4;
}

.copy-confirmation-second span {
    margin-left: 9px;
    color: black;
    font-size: 14px;
}

.copy-confirmation-second_active {
    opacity: 1;
}

.copy-confirmation-third {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 40px;
    background-color: #FFF;
    border-radius: 10px;
    position: absolute;
    top: 583px;
    left: 81%;
    opacity: 0;
    transition: .9s ease all;
    z-index: 4;
}

.copy-confirmation-third span {
    margin-left: 9px;
    color: black;
    font-size: 14px;
}

.copy-confirmation-third_active {
    opacity: 1;
}

.copy-confirmation-referral {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 40px;
    background-color: #FFF;
    border-radius: 10px;
    position: absolute;
    top: 87px;
    left: 84%;
    opacity: 0;
    transition: .9s ease all;
    z-index: 4;
}

.copy-confirmation-referral span {
    margin-left: 9px;
    color: black;
    font-size: 14px;
}

.copy-confirmation-referral_active {
    opacity: 1;
}

.offers__level {
    margin-top: 40px;
    padding: 50px 207px 42px 206px;
    background: var(--bcg-block);
    border-radius: 10px;
    text-align: center;
}

.offers__level > h2 {
    font-size: 20px;
    line-height: 135%;
    font-variant: all-small-caps;
}

.offers__level_btn {
    padding: 6px 17px 9px;
    color: var(--text);
    background-color: var(--bcg-button-black);
    border-radius: 5px;
    font-size: 16px;
    line-height: 135%;
    font-variant: all-small-caps;
}

.offers__level_btn:hover {
    background-color: var(--bcg);
}

.offers__element_status {
    position: absolute;
    bottom: 117%;
    right: 120%;
    padding: 2px 20px;
    color: var(--bcg-button-black);
    background-color: var(--text);
    border-radius: 5px;
    font-weight: 400;
    font-size: 12px;
    line-height: 135%;
    font-variant: all-small-caps;
}

.offers__division_wrap {
    margin: 15px 0 40px;
    padding: 27px 40px 49px 40px;
    background-color: var(--bcg-block);
    border-radius: 10px;
}

.offers__division_ali {
    display: grid;
    justify-content: space-between;
    grid-template-columns: 145px 184px 226px 205px;
    column-gap: 40px;
    margin-bottom: 30px;
    padding: 32px 40px 28px 24px;
    border: 2px solid #424952;
    border-radius: 10px;
}

.offers__division_ali_logo {
    font-size: 14px;
}

.offers__division_ali_column {
    display: flex;
    justify-content: space-between;
}

.offers__division_ali_left {
    display: block;
    text-align: left;
    font-size: 16px;
}

.offers__division_ali_left span {
    display: block;
}

.offers__division_ali_right {
    display: block;
    text-align: right;
    font-size: 16px;
    position: relative;
}

.offers__division_ali_right span {
    display: block;
}

.offers__division_ali_right_time {
    position: absolute;
    width: 125px;
    right: 0px;
}

.offers__division_title {
    display: flex;
    justify-content: space-between;
}

.offers__division_content {
    display: flex;
    justify-content: space-between;
}

.offers__division_content_col-one > li {
    font-size: 16px;
    margin-bottom: 27px;
    padding-left: 81px;
    position: relative;
}

.offers__division_content_col-one > li > span {
    font-size: 18px;
}

.offers__division_content_col-one > li > svg {
    position: absolute;
    left: 0px;
    top: 3px;
}

.offers__division_content_col-two {
    display: flex;
}

.offers__division_content_col-two li {
    margin-bottom: 27px;
}

.offers__division_content_col-two > ul > li {
    font-size: 16px;
    padding-right: 48px;
}

.offers__division_content_col-two > ul > li > span {
    font-size: 18px;    
}

.offers__division_content_col-two_copy {
    position: relative;
}

.offers__division_content_col-two_copy_btn {
    position: absolute;
    right: 0;
    cursor: pointer;
}

.offers__division_content_col-three > li > p {
    display: inline-block;
    font-size: 16px;
}

.offers__division_content_col-three > li > svg {
    transform: translateY(1px);
}


.offers__faq_content {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.offers__faq_content > ul {
    width: 30%;
    padding: 35px 0px 20px 20px;
    font-size: 16px;
    line-height: 135%;
    background: var(--bcg-button-black);
    border-radius: 10px;
}

.offers__faq_content > ul > li {
    cursor: pointer;
}

.offers__faq_content > ul > li > p {
    max-width: 230px;
}

.offers__faq_content > ul > li:not(:last-child) {
    margin-bottom: 20px;
}

.offers__faq_dropdown_btn_active {
    background-image: url(../img/partners/arrow_up.svg);
    background-repeat: no-repeat;
    background-position: 100%;
    width: 95%;
    text-align: start;
    cursor: pointer;
}

.offers__faq_dropdown_btn {
    background-image: url(../img/partners/arrow_bottom.svg);
    background-repeat: no-repeat;
    background-position: 100%;
    width: 95%;
    text-align: start;
    cursor: pointer;
}

.offers__faq_description {
    width: 66%;
    font-size: 16px;
    line-height: 135%;
}

.offers__faq_dropdown-active {
    width: 109%;
    background: var(--bcg);
    border-radius: 5px;
    display: none;
}

.offers__faq_dropdown-active_list {
    padding: 15px 26px 19px 17px;
    background-color: var(--bcg-block);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.offers__faq_dropdown-active_list_sub-title {
    font-size: 14px;
}

.offers__faq_dropdown-active_list_sub-title:not(:first-child) {
    margin-top: 20px;
}

.offers__faq_dropdown-active_list_title {
    background-image: url(../img/partners/arrow_up.svg);
    background-repeat: no-repeat;
    background-position: 101%;
}

.offers__banners {
    padding: 40px 0 223px;
}

.offers__banners_menu {
    width: 45%;
    height: 27px;
    margin-bottom: 30px;
}

.offers__banners_menu_list {
    display: flex;
    justify-content: space-between;
}

.offers__banners_menu_item {
    font-size: 16px;
    line-height: 135%;
}

.offers__banners_menu_item_btn {
    padding: 2px 16px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
}

.offers__banners_menu_item_btn:focus {
    padding: 2px 16px;
    background-color: var(--bcg-button-black);
    border-radius: 5px;
}

.offers__banners_menu_item_active {
    padding: 2px 16px;
    background-color: var(--bcg-button-black);
    border-radius: 5px;
}

.offers__banners_content {
    display: flex;
    justify-content: space-between;
}

.offers__banners_content_column {
    width: 30%;
    text-align: center;
    position: relative;
}

.offers__banners_content_column_img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    width: 100%;
    height: 311px;
    border: 1px solid var(--icon);
    border-radius: 5px;
}

.offers__banners_content_column_img img {
    width: 143px;
    height: 222px;
}

.offers__banners_content_column_figcaption {
    display: block;
    font-size: 16px;
    line-height: 135%;
    margin-bottom: 20px;
}

.offers__banners_content_column_formats {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.offers__banners_content_column_formats img:not(:last-child) {
    margin-right: 9px;
}

.offers__banners_content_column_description {
    text-align: left;
    margin: 0 0 10px 5%;
    font-size: 16px;
    line-height: 135%;
}

.offers__banners_content_column_html > textarea {
    height: 95px;
    padding: 9px 8px 9px 11px;
    resize: none;
    overflow: hidden;
    border-radius: 5px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 135%;
    outline: none;
}


.offers__banners_content_column_copy {
    margin-top: 10px;
    padding: 10px 20px 10px;
    text-align: center;
    background-color: var(--bcg-button-black);
    border-radius: 5px;
    font-variant: all-small-caps;
    cursor: pointer;
}

.offers__banners_content_column_copy:hover {
    background-color: var(--bcg-block);
}

.advertising__exchanges {
    padding: 15px 33px 19px;
}

.advertising__exchanges_title{
    font-size: 24px;
    line-height: 135%;
    font-variant: all-small-caps;
}

.advertising__exchanges_wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.advertising__exchanges_box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 24%;
    margin-bottom: 20px;
    padding: 49px 27px 26px;
    background-color: var(--bcg-block);
    border-radius: 5px;
}

.advertising__exchanges_box_description {
    margin: 20px 0 30px;
    text-align: center;
    font-size: 11px;
    line-height: 13px;
}

.advertising__exchanges_box_price {
    margin-bottom: 17px;
    font-size: 24px;
    line-height: 28px;
}

.advertising__exchanges_box_btn {
    padding: 7px 25.5%;
    background: var(--bcg-button-black);
    border-radius: 5px;
    font-size: 14px;
    line-height: 16px;
    font-variant: all-small-caps;
    cursor: pointer;
}

.advertising__exchanges_box_btn:hover {
    background-color: #C1A875;
} 

.advertising__exchanges_btn {
    display: block;
    margin: 0 auto;
    padding-right: 30px;
    font-size: 20px;
    line-height: 135%;
    font-variant: all-small-caps;
    background-image: url(../img/partners/arrow_bottom.svg);
    background-repeat: no-repeat;
    background-position: 101% 38%;
    background-size: 11%;
    cursor: pointer;
}

.advertisement__funnels {
    margin-bottom: 30px;
    padding: 40px 40px 56px 30px;
    background-color: var(--bcg-block);
    border-radius: 10px;
}

.advertisement__funnels_title {
    padding-bottom: 20px;
    font-weight: 400;
    font-size: 24px;
    line-height: 135%;
    font-variant: all-small-caps;
}

.advertisement__funnels_box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.advertisement__funnels_box_lvl {
    width: 41%;
    font-weight: 400;
    font-size: 18px;
    line-height: 135%;    
}

.advertisement__funnels_box_line {
    width: 43%;
}

.advertisement__funnels_customers {
    display: flex;
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 18px;
    line-height: 135%;
    font-variant: all-small-caps;    
}

.advertisement__funnels_lvl-up {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    background-color: var(--bcg);
    border-radius: 10px;
}

.advertisement__funnels_lvl-up_text {
    width: 60%;
    font-weight: 400;
    font-size: 18px;
    line-height: 135%;
    font-variant: all-small-caps;    
}

.advertisement__funnels_lvl-up_btn {
    height: 31px;
    padding: 3px 19px 4px;
    font-weight: 400;
    font-size: 18px;
    line-height: 135%;
    font-variant: all-small-caps;
    background-color: var(--bcg-button-black);
    border-radius: 10px;
    cursor: pointer;
}

.advertisement__funnels_lvl-up_btn:hover {
    background-color: #C1A875;
}

.advertisement__increase_lvl-active_title {
    margin-left: 11px;
    font-weight: 400;
    font-size: 20px;
    line-height: 135%;
    font-variant: all-small-caps; 
    position: relative;   
    z-index: 1;
}

.advertisement__increase_lvl-active {
    margin-bottom: 20px;
    padding: 28px 10% 30px 24px;
    background-color: var(--bcg-block);
    border-radius: 10px;
    position: relative;
}

.advertisement__increase_lvl-active_bg {
    content: '';
    display: flex;
    border-top: 36px solid var(--bcg-button-black);
    width: 264px;
    height: 0;
    border-right: 50px solid transparent;
    position: absolute;
    z-index: 0;
    left: 0;
    top: 24px;
}

.advertisement__increase_lvl-active_title::after {
    content: 'КОЛИЧЕСТВО АКТИВНЫХ КЛИЕНТОВ ДЛЯ ПОДДЕРЖАНИЯ УРОВНЯ: 4525 ЧЕЛОВЕК';
    font-weight: 400;
    font-size: 14px;
    line-height: 135%;
    font-variant: all-small-caps;
    margin-left: 11%;
}

.advertisement__increase_lvl-active_line {
    width: 53%;
}

.advertisement__increase_lvl-active_list {
    display: flex;
    margin: 0 0 27px 17px;
    justify-content: space-between;
}

.lvl-active_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 74%;
}

.lvl-active_list_items {
    width: 308px;
    font-weight: 400;
    font-size: 16px;
    line-height: 164.5%;
    list-style-type: disc;
}

.advertisement__increase_lvl-active_line_customers {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 135%;
}

.advertisement__increase_lvl-active_line_statistics {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
    font-weight: 400;
    font-size: 14px;
    line-height: 135%;
    color: var(--icon);
}

.advertisement__increase_lvl-active_line_line-gray {
    width: 100%;
    height: 10px;
    background: #424952;
    box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.advertisement__increase_lvl-active_line_line-white {
    width: 63.63%;
    height: 10px;
    background: #FFFFFF;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}

.advertisement__increase_lvl-active_list_status {
    position: absolute;
    right: 10%;
    top: 26%;
}

.advertisement__increase_lvl-active_wrap {
    background: #141414;
    opacity: 25%;
}

.advertisement__increase_lvl-active_list_status p {
    font-weight: 400;
    font-size: 55px;
    line-height: 135%;
}

.advertisement__increase_lvl-active_list_status span {
    font-weight: 400;
    font-size: 20px;
    line-height: 135%;
}

.advertisement__increase_lvl-active_list_status_btn {
    height: 31px;
    width: 100%;
    background-color: var(--bcg-button-black);
    border-radius: 5px;
    font-size: 18px;
    line-height: 135%;
    font-variant: all-small-caps;
    cursor: pointer; 
}

.advertisement__increase_lvl-active_list_status_btn:hover {
    background-color: #C1A875;
} 

.hiding {
    display: none;
}

.tab__box {
    display: none;
}

.tab__box_active {
    display: block;
}

.market__active{
    position: absolute;
    border-radius: 10px;
    background-color: #000;
    padding-top: 10px;
    padding-bottom: 15px;
    top: 40px;
    z-index: 9999999;
    display: none;
}
.market__active_buy{
    left: 0px;
}

.market__active_type{
    left: 0;
}

.market__active_visible{
    display: block;
}


.market__active_input{
    display: flex;
    align-items: center;
    border-bottom: 1px #A4A4A6 solid;
    padding-bottom: 5px;
}

.market__active_input img{
    margin-left: 5px;
}

.market__active_input input{
    color: #A4A4A6;
    background-color: #000;
    border: none;
    margin-left: 5px;
}

.market__active_choose{
    color: #A4A4A6;
    padding: 8px 0 5px 10px;
}

.market__active_choose:hover{
   background-color: #373C45;
}

.market__active_wrapper{
    display: flex;
    justify-content: space-between;
}

.market__active_btn{
    padding: 1px 8px 2px 7px;
    color: #A4A4A6;
    border-radius: 5px;
    margin-left: 10px;
}

.market__active_btn:last-child{
    margin-left: 0;
    margin-right: 10px;
}

.market__active_btn:hover {
    background-color: #20252B;
}

.dropdown__active{
    background-color: #25282F;
    padding: 10px 0 10px 15px;
    border-radius: 5px 0 0 5px;
}
.referral__scheme_mobile{
    display: none;
}
.investors__window_data_box_mobile{
    display: none;
}

.advertising__exchanges_wrap_mobile{
    display: none;
}

.partners_mobile{
    display: none;
}
.advertisement__increase_wrapper_mobile{
    display: none;
}
@media(max-width: 992px){
    .offers__division_ali{
        padding: 10px;
    }
    .offers__division_ali {
        grid-template-columns: 72px 133px 186px 178px;
        column-gap: 20px;
    }
    .offers__division_content_col-one > li {
        padding-left: 57px;
    }
    .offers__division_content_col-two > ul > li{
        padding-right: 11px;
        font-size: 12px;
    }
    .offers__banners_content_column_html > textarea{
        width: 100%;
        font-size: 12px;
    }
    .offers__banners{
        padding-bottom: 20px;
    }
    
    .offers__division_content_col-two > ul > li > span{
        font-size: 12px;
    }
    .offers__division_content_col-three > li > p{
        font-size: 12px;
    }
    .offers__division_content_col-two_copy_btn{
        right: auto;
        left: -130%;
    }
    .offers__division_content_col-two_copy_btn svg{
        width: 30px;
    }
    .referral__scheme{
        display: none;
    }
    .offers__division_ali_column{
        margin-top: 20px;
    }
    .referral__scheme_mobile{
        display: block;
    }
    .referral__step{
        display: flex;
        margin-bottom: 30px;
    }
    .referral__step_block{
        margin-left: 20px;
    }
    #referral__link{
        margin: 0;
        margin-top: 5px;
    }
    #referral__copy_link{
        margin-top: 10px;
    }
    .transfer__input_dropdown{
        margin: 0;
    }
    .statistics__accurate_chart svg{
        width: 100%;
    }
    .copy-confirmation-referral{
        display: none;
    }
    .investors__window_data{
        font-size: 10px;
    }
    .offers__element_center_statistic{
        display: block;
    }
    .offers__element_center_statistic_col{
        display: flex;
    }
    .copy-confirmation-offer, .copy-confirmation-offer-two, .copy-confirmation-offer-three{
        display: none;
    }
}
@media(max-width: 769px){
    .statistics__accurate_table-head{
        font-size: 12px;
    }
    .statistics__accurate_table-district{
        font-size: 10px;
    }
    .statistics__accurate_filter_item{
        width: 25%;
    }
    .statistics__accurate_filter_item_date-btn{
        font-size: 12px;
    }
    .statistics__accurate_menu_btn{
        font-size: 16px;
    }
    .statistic__table_header{
        padding: 10px 0;
        font-size: 10px;
    }
    .market__active{
        width: 170px;
    }
    .market__active_input img{
        display: none;
    }
    .market__active_input{
        width: 170px;
    }
    .market__active_btn{
        font-size: 14px;
        margin-left: 0;
    }
    .statistics__general_title{
        display: block;
        width: 210px;
    }
    .statistics__general_title_tab{
        margin-top: 10px;
    }
    .statistics__general_info{
        display: block;
    }
    .statistics__general_info_col > p{
        display: inline-block;
    }
    .investors__window_line{
        font-size: 10px;
    }
    .investors__window_data_cell{
        padding: 2px 12px 10px;
    }
    .opportunities__advantages figure figcaption{
        font-size: 12px;
        text-align: center;
    }
    .opportunities__advantages figure img{
        display: block;
        margin: 0 auto;
        margin-bottom: 5px;
    }
    .opportunities {
        margin-top: 15px;
        padding: 30px 0px 40px 0px;
    }
    .offers__element_link button{
        display: none;
    }
    .offers__level{
        padding: 10px;
    }
    .right__col-text{
        font-size: 12px;
    }
    .partners__btn{
        font-size: 12px;
    }
    .advertising__exchanges_box{
        width: 49%;
    }
    .manager__box, .manager__box__active{
        display: block;
    }
    .top__box{
        display: block;
    }
    .offers__faq_content > ul{
        padding-left: 10px;
    }
    .dropdown__content{
        font-size: 12px;
    }
    .dropdown__content_text{
        font-size: 12px;
    }
    .support__chat{
        margin-top: 20px;
    }
    .support__chat_right > p{
        max-width: 100%;
    }
    .offers__division_ali{
        display: block;
    }
    .offers__division_ali_column{
        width: 49%;
        display: inline-block;
    }
    .offers__division_ali_left, .offers__division_ali_right{
        display: inline-block;
        width: 49%;
        font-size: 12px;
    }
    .offers__division_content_col-two{
        position: absolute;
        right: 0;
        top: 0;
    }
    .offers__division_ali_right span{
        width: 100%;
        position: relative;
    }
    .offers__division_content_col-one > li > span{
        font-size: 14px;
    }
    .offers__division_content_col-one > li{
        font-size: 14px;
    }
    .offers__division_content_col-three{
        display: block;
        width: 100%;
    }
    .offers__division_content{
        display: block;
        position: relative;
    }
    .offers__banners_menu{
        width: 100%;
    }
    .offers__banners_menu_item_btn{
        font-size: 14px;
    }
    .offers__banners_content_column:last-child{
        display: none;
    }
    .offers__banners_content_column{
        width: 49%;
    }
    .copy-confirmation-first, .copy-confirmation-bank{
        top: auto;
        left: -500%;
    }
    .copy-confirmation-loans, .copy-confirmation-bank__credit{
        top: auto;
        left: -500%;
    }
    .copy-confirmation-second{
        display: none;
    }
    .copy-confirmation-third{
        display: none;
    }
}

@media(max-width: 576px){
    .copy-confirmation{
        left: 0;
        top: auto;
    }
    .copy-confirmation-two{
        left: 0;
        top: auto;
    }
    .copy-confirmation-three{
        left: 0;
        top: auto;
    }
    .copy-confirmation-referral{
        display: flex;
        left: 20%;
        top: auto;
    }
    .advertisement__increase_container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .advertisement__increase_container img{
        width: 60px;
        display: block;
        margin: 0 auto;
        margin-top: 20px;
        margin-bottom: 10px;
    }
    .advertisement__increase_container p{
        font-size: 20px;
    }
    .advertisement__increase_container span{
        margin-top: 5px;
    }
    .advertisement__increase_block{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 10px;
    }
    .advertisement__increase_money{
        font-size: 20px;
    }
    .advertisement__increase_money span{
        font-size: 14px;
    }
    .advertisement__increase_btn{
        background-color: #000;
        padding: 1px 10px;
        text-transform: uppercase;
        border-radius: 5px;
    }
    .advertisement__increase_btn:hover{
        background-color: #C1A875;
    }
    .advertisement__increase_wrapper{
        display: none;
    }
    .advertisement__increase_wrapper_mobile{
        display: block;
    }
    .tab__box{
        padding: 10px;
    }
    .advertising__exchanges_wrap{
        display: none;
    }
    .advertising__exchanges_wrap_mobile{
        display: block;
    }
    .advertising__exchanges_wrap_mobile .advertising__exchanges_box{
        padding: 20px 10px;
    }
    .advertising__exchanges_box div{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    .advertising__exchanges_box_btn{
        width: 50%;
        padding: 7px 10px;
    }
    .advertising__exchanges_box_description{
        font-size: 10px;
        text-align: left;
        margin-bottom: 10px;
    }
    .advertising__exchanges_box img{
        width: 83px;
    }
    .offers__division_wrap h2{
        font-size: 16px;
    }
    .offers__division_ali_column{
        width: 100%;
    }
    .offers__division_ali_left, .offers__division_ali_right {
        width: 48%;
    }
    .offers__division_title h5{
        display: none;
    }
    .offers__division_wrap{
        padding: 20px 10px;
    }
    .offers__division_content_col-one > li{
        width: 160px;
        font-size: 10px;
        line-height: 13px;
    }
    .offers__banners_menu{
        height: auto;
    }
    .offers__banners_content{
        display: block;
    }
    .offers__banners_content_column{
        width: 100%;
        margin-bottom: 20px;
    }
    .offers__banners_content_column:last-child{
        display: block;
    }
    .offers__banners_menu_list{
        overflow: auto;
        -ms-overflow-style: none;
        scrollbar-width: none;
        white-space: nowrap;
    }
    .offers__banners_menu_list::-webkit-scrollbar {
        width: 0;
        height: 0;
  }
    .statistics__accurate{
        padding: 30px 0px 42px 0px;
    }
    .statistics__accurate_filter{
        display: block;
        height: auto;
    }
    .statistics__accurate_filter_item{
        width: 50%;
        height: 30px;
        margin-bottom: 10px;
    }
    .statistics__accurate_menu_btn{
        font-size: 10px;
    }
    .statistics__accurate_menu_reset{
        padding: 5px 0;
    }
    .pages__num, .pages span{
        display: none;
    }
    .referral{
        padding: 10px;
    }
    .referral h2{
        font-size: 16px;
    }
    .referral__step img{
        width: 60px;
    }
    .referral__step_block{
        margin-left: 5px;
    }
    .referral__title, .referral__description, #referral__link{
        font-size: 12px;
    }
    .referal__btn{
        display: none;
    }
    .partners{
        padding: 10px;
        display: none;
    }
    .partners_mobile{
        display: block;
    }
    .left__col{
        width: 100%;
    }
    .partners h2{
        font-size: 16px;
    }
    .right__col{
        width: 100%;
        padding-left: 0;
        margin-top: 10px;
    }
    .right__col-procent{
        margin-top: 0;
        font-size: 24px;
    }
    .right__col-place{
        display: block;
    }
    .right__col-place > div{
        width: 100%;
    }
    .partners__btn{
        display: none;
    }
    .tab__menu{
        overflow: auto;
        -ms-overflow-style: none;
        scrollbar-width: none;
        white-space: nowrap;
        padding: 0px;
    }
    .tab__menu::-webkit-scrollbar {
        width: 0;
        height: 0;
  }
    .statistics__accurate_chart h2{
        font-size: 14px;
    }
    .statistics__accurate_chart div svg{
        height: auto;
    }
    .opportunities h2{
        font-size: 16px;
    }
    .opportunities p{
        font-size: 12px;
    }
    .opportunities__advantages{
        display: block;
    }
    .opportunities__advantages figure{
        margin-bottom: 10px;
    }
    .opportunities__btn{
        font-size: 12px;
        padding: 10px;
        text-align: center;
    }
    .investors{
        padding: 10px 10px 20px 10px;
    }
    .statistics__general{
        padding: 10px;
    }
    .opportunities{
        padding-top: 0;
    }
    .investors__window_data{
        display: none;
    }
    .investors__window_data_mobile{
        display: block;
    }
    .offers__wrap{
        padding: 0 10px;
        padding-bottom: 20px;
    }
    .offers__element_status{
        display: none;
    }
    .offers__element img{
        width: 80px;
        height: 19px;
    }
    .offers__element{
        display: block;
    }
    .offers__element_center{
        display: inline-block;
        width: auto;
    }
    .offers__element_link{
        display: block;
    }
    .offers__element_center_btn{
        display: flex;
        justify-content: center;
        margin-right: 0;
        margin-top: 10px;
    }
    .advertising__exchanges_box{
        width: 100%;
    }
    .advertisement__funnels_title{
        font-size: 16px;
        line-height: 16px;
    }
    .advertisement__funnels{
        padding: 10px;
    }
    .advertisement__funnels_box{
        display: block;
    }
    .advertisement__funnels_box_lvl{
        width: 100%;
    }
    .advertisement__funnels_box_line{
        width: 100%;
        margin-top: 20px;
    }.advertisement__funnels_lvl-up{
        display: block;
        padding: 10px;
    }
    .advertisement__funnels_lvl-up_text{
        width: 100%;
        font-size: 16px;
    }
    .advertisement__funnels_lvl-up_btn{
        display: block;
        margin: 0 auto;
        margin-top: 10px;
    }
    .advertisement__increase_lvl-active{
        padding: 10px;
    }
    .advertisement__increase_lvl-active_title{
        margin: 0;
        margin-top: 10px;
    }
    .advertisement__increase_lvl-active_title::after{
        display: none;
    }
    .advertisement__increase_lvl-active_list{
        margin-top: 20px;
    }
    .lvl-active_list{
        display: block;
        width: 100%;
    }
    .lvl-active_list_items{
        width: 100%;
        font-size: 12px;
    }
    .advertisement__increase_lvl-active_list_status{
        display: none;
    }
    .advertisement__increase_lvl-active_line{
        width: 100%;
    }
    .lvl-active_list .lvl-active_list_items:last-child{
        display: none;
    }
    .wrap{
        padding: 10px 5px;
        display: block;
    }
    .contact__link{
        display: inline-block;
    }
    .contact__link > span{
        display: block;
        width: 100%;
    }
    .contact__link > a{
        margin: 0;
        margin-right: 10px;
    }
    .call__back{
        padding: 10px 20px;
        width: 100%;
    }
    figcaption{
        margin-left: 0;
    }
    figure img{
        margin-right: 10px;
    }
    .offers__faq_content > ul{
        width: 100%;
        margin-bottom: 10px;
    }
    .offers__faq_description{
        display: block;
        width: 100%;
    }
    .offers__faq_content{
        display: block;
    }
    .offers__faq h2{
        margin-bottom: 0;
    }
    .support__chat h2{
        padding: 0;
        margin-top: 0;
        font-size: 16px;
    }
    .support__chat_right{
        margin-left: 0;
    }
    .support__chat_right > p{
        font-size: 12px;
        line-height: 14px;
    }
    .online__chat_text{
        width: 100%;
        padding-left: 10px;
    }
    .online__chat_submit{
        display: none;
    }
    .online__chat_foto {
        top: -42px;
        left: 240px;
    }
    .online__chat_document {
        top: -42px;
        left: 150px;
    }
    .applications h2{
        margin-top: 0;
        line-height: 26px;
        margin-bottom: 0;
    }
    .box__btn__choice{
        padding: 1px 10px;
    }
    .number__application{
        font-size: 14px;
    }
    .numbers__bottom{
        font-size: 12px;
        line-height: 16px;
    }
    .status{
        margin-left: 20px;
    }
}