.presents {
    margin-top: 30px;
    width: 100%;
    padding: 30px;
    background-color: var(--bcg-block);
    border-radius: 15px;
}

.presents__header {
    display: flex;
    justify-content: space-between;
}

.presents__header > img {
    width: 110px;
}

.presents__title {
    margin-left: 15px;
    max-width: 450px;
}

.presents__title > h2 {
    font-family: RobotoRegular, sans-serif;
    font-size: 20px;
    color: var(--text);
    line-height: 1.5;
    font-weight: 400;
}

.presents__title > p {
    font-family: RobotoRegular, sans-serif;
    font-size: 16px;
    color: var(--text);
}

.presents__button {
    display: flex;
    align-items: center;
    margin-top: 10px;
    font-family: RobotoRegular, sans-serif;
    font-size: 16px;
    color: var(--text);
    text-decoration: none;
    cursor: pointer;
}

.presents__button img{
    margin-left: 5px;
}

.presents__button_hide {
    opacity: 0;
}

.presents__trigger {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.presents__trigger > span {
    text-align: center;
    font-family: RobotoRegular, sans-serif;
    font-size: 30px;
    color: var(--text);
    padding: 10px 0;
}

.presents__trigger > button {
    padding: 15px 0;
    background-color: var(--bcg-button-black);
    border-radius: 10px;
    font-family: RobotoRegular, sans-serif;
    font-size: 16px;
    color: var(--text);
    border: #25282F 1px solid;
    cursor: pointer;
}

.presents__trigger > button:hover {
    background-color: #C1A875;
}

.presents__balance {
    width: 80%;
    align-self: center;
    border-radius: 10px;
    margin-top: 40px;
}

.presents__input {
    margin-bottom: 10px;
    padding: 12px 0;
    font-family: RobotoRegular, sans-serif;
    font-size: 14px;
    color: #D9D9D9;
    text-align: center;
    background: none;
    border: 1px solid #D9D9D9;
    outline: none;
    border-radius: 10px;
}

.presents__input:focus {
    outline: none;
}

.presents__box {
    height: 0;
    overflow: hidden;
}

.presents__box_active {
    height: auto;
}

.presents__text {
    margin-top: 30px;
    font-family: RobotoRegular, sans-serif;
    font-size: 16px;
    color: var(--text);
    line-height: 1.8;
}

.presents__btn {
    margin-top: 25px;
    width: 105px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: RobotoRegular, sans-serif;
    font-size: 16px;
    color: var(--text);
    cursor: pointer;
}

.presents__btn:hover {
    color: var(--bcg-button);
}

.presents__btn > span {
    transform: rotate(270deg);
}

.rate {
    margin-top: 30px;
    padding: 30px;
    border-radius: 15px;
    background-color: var(--bcg-block);
}

.rate__title {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    font-family: RobotoRegular, sans-serif;
    font-size: 18px;
    color: var(--text);
}

.rate__title_commission {
    margin-left: 40px;
}

.rate__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: RobotoRegular, sans-serif;
    font-size: 18px;
    color: var(--text);
}

.rate__chart {
    width: 100%;
    height: 15px;
    margin: 10px 0;
    background-color: #424952;
    border-radius: 50px;
}

.rate__chart_value {
    width: 50%;
    height: 100%;
    background-color: #FFF;
    border-radius: 50px;
}

.rate__row_text > span {
    color: #A4A4A6;
}

.rate__row_link {
    margin-top: 30px;
    color: var(--text);
    text-decoration: none;
}

.rate__row_link:visited {
    color: var(--text);
}

.rate__row_link:hover {
    color: var(--bcg-button);
}

.accounts {
    margin-top: 40px;
    width: 100%;
}

.accounts__title {
    width: 100%;
    padding: 20px 25px;
    font-family: RobotoRegular, sans-serif;
    font-size: 24px;
    color: var(--text);
}

.accounts__select {
    margin-top: 20px;
    display: flex;
    background-color: #20252B;
    padding: 5px 0 5px 30px;
    text-transform: lowercase;
    border-radius: 5px;
}

.accounts__select_close:hover {
    color: #8F8F91;
}

.accounts__select_active {
    background-color: #000;
}
.accounts__select_active:hover {
    color: #fff;
}

.accounts__select_close {
    margin-right: 20px;
    width: auto;
    padding: 5px;
    text-align: center;
    border-radius: 5px 5px 5px 5px; 
    font-family: RobotoRegular, sans-serif;
    font-size: 16px;
    color: var(--text);
    cursor: pointer;
}

.account__list{
    display: flex;
}

.accounts__item {
    display: inline-block;
    width: 30%;
    margin-top: 20px;
    padding: 30px 30px 20px 20px;
    background-color: var(--bcg-block);
    border: #25282F 1px solid;
    border-radius: 15px;
    cursor: pointer;
    margin-right: 3%;
}

.accounts__item:hover {
    background-color: #191D23;
    border: #fff 1px solid
}

.accounts__item_title {
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.accounts__item_stats {
    width: 100%;
    margin-top: 30px;
    display: flex;
    position: relative;
    flex-direction: column;
}

.accounts__item_stats a{
    position: absolute;
    right: 0;
    top: 40%;
    transform: translate(-50%, -50%);
}

.accounts__item_stats_box {
    display: flex;
    flex-direction: column;
}

.accounts__item_stats_name {
    display: flex;
    align-items: center;
    font-family: RobotoRegular, sans-serif;
    font-size: 16px;
    color: var(--text);
    margin-top: 10px;
}

.accounts__item_stats_name > img {
    margin-left: 5px;
}

.accounts__item_stats_value {
    font-family: RobotoRegular, sans-serif;
    font-size: 22px;
    color: var(--text);
}

.accounts__btn {
    display: block;
    margin: 40px auto 80px;
    padding: 10px 50px;
    background-color: #20252B;
    text-transform: uppercase;
    border-radius: 10px;
    font-family: RobotoRegular, sans-serif;
    font-size: 20px;
    color: var(--text);
    border: #20252B 1px solid;
    cursor: pointer;
}

.accounts__btn:hover{
    border: #ffffff 1px solid;
}
.presents__trigger_mobile{
    display: none;
}
@media(max-width: 769px){
    .accounts__item{
        display: block;
        width: 100%;
    }
    .presents__input{
        font-size: 12px;
        padding: 12px 6px;
    }
    .presents__trigger > button{
        padding: 5px 0;
    }
    .presents__header > img{
        width: 90px;
    }
    .presents__title h2{  
        font-size: 16px;
        line-height: 19px;
    }
    .presents__text{
        line-height: 18px;
    }
    .rate__row_text{
        font-size: 16px;
        width: 360px;
    }
    .rate__row{
        margin-top: 10px;
    }
    .rate__row_link{
        margin-top: 0;
    }
}

@media(max-width: 576px){
    .accounts__item{
        padding-right: 5px;
    }
    .presents{
        padding: 10px;
    }
    .presents__header{
        display: block;
    }
    .presents__title{
        margin-left: 0;
        display: inline-block;
        width: 68%;
    }
    .presents__header > img{
        width: 30%;
    }
    .presents__trigger{
        display: none;
    }
    .presents__trigger_mobile{
        display: block;
        width: 100%;
        margin-top: 20px;
    }
    .presents__trigger > button{
        width: 100%;
    }
    .presents__input{
        padding: 6px;
    }
    .presents__title > p{
        font-size: 11px;
    }
    .accounts__title{
        padding-bottom: 0;
        padding-left: 0;
        font-size: 16px;
    }
    .accounts__select{
        margin-top: 5px;
    }
    .accounts__select{
        padding: 0;
    }
    .accounts__select_close{
        margin: 0;
        width: 50%;
    }
    .accounts__btn{
        padding: 10px;
        font-size: 16px;
    }
    .rate__title{
        display: block;
    }
    .rate__title_commission{
        margin-left: 0;
    }
    .rate__row{
        display: block;
    }
    .rate{
        padding: 10px;
    }
    .rate__row_text{
        width: 100%;
        font-size: 12px;
        margin-bottom: 10px;
    }
}