.wrap {
    margin-top: 15px;
    width: 100%;
    padding: 21px 23px;
    background-color: var(--bcg-block);
    border-radius: 10px;
}

.active {
    background-color: #000;
}

h2 {
    font-family: RobotoRegular, sans-serif;
    color: var(--text);
    font-weight: 400;
    font-size: 24px;
    padding: 25px 0;
    margin-top: 35px;
}

.manager__box, .manager__box__active {
    display: flex;
    justify-content: space-between;
}

.manager__box__active {
    display: block;                         /* <<<<<<<<<<<<<<<<<ОЖИДАЙТЕ ЗВОНКА */
}

.top__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottom__box > figure {
    display: block;
    text-align: center;
}

.bottom__box > figure > img {
    padding: 0px 0 15px;
}

.left__box {
    display: flex;
}

figure {
    display: flex;
    align-items: center;
}

figcaption {
    margin-left: 23px;
    font-size: 18px;
    font-family: RobotoRegular, sans-serif;
    color: var(--text);
}

.contact__link {
    text-decoration: none;
    display: flex;
    align-items: center;
}

.contact__link > span {
    font-size: 16px;
    font-family: RobotoRegular, sans-serif;
    color: var(--text);
    margin-bottom: 7px;
}

.contact__link > a {
    margin: 0 8px;
}

.call__back {
    background-color: #000;
    padding: 10px 135px;
    margin-top: 20px;
    cursor: pointer;
}

.call__back:hover {
    background-color: #C1A875;
}

.support__chat{
    margin-top: 100px;
}

.support__chat_message {
    display: flex;
    font-family: RobotoRegular, sans-serif;
    font-size: 16px;
    color: var(--text);
    line-height: 135%;
}

.support__chat_right {
    margin-left: 20px;
}

.support__chat_right > span {
    margin-right: 16px;
}

.support__chat_right > p {
    margin-top: 5px;
    max-width: 87%;
}

.online__chat {
    margin-top: 30px;
    position: relative;
}

.online__chat_text {
    width: 90%;
    font-family: RobotoRegular, sans-serif;
    font-size: 16px;
    line-height: 135%;
    padding: 10px 20px;
    outline: none;
    color: var(--text);
    background-color: var(--bcg-block);
    border: none;
    border-radius: 10px;
}

.online__chat_submit {
    height: 22px;
    position: absolute;
    top: 10px;
    left: 86%;
    cursor: pointer;
}

.online__chat_submit:hover > svg > path {
    fill: var(--icon);
} 

.online__chat_foto {
    background: url(../img/support/foto.svg) no-repeat;
    position: relative;
    top: -6px;
    left: 7px;
}

.online__chat_foto:hover {
    fill: var(--bcg);
}

.online__chat_foto > input {
    width: 40px;
    height: 40px;
    opacity: 0%;
}

.online__chat_document {
    background: url(../img/support/document.svg) no-repeat;
    position: relative;
    top: -6px;
    left: 14px;
}

.online__chat_document > input {
    width: 40px;
    height: 40px;
    opacity: 0%;
}


.box__btn {
    margin-bottom: 35px;
}

.box__btn__choice {
    font-size: 16px;
    line-height: 150%;
    padding: 2px 17px;
    border-radius: 5px;
}

.box__btn__choice:hover:not(.active) {
    color: var(--text-gray);
    cursor: pointer;
}

.numbers {
    font-size: 16px;
    font-family: RobotoRegular, sans-serif;
    color: var(--text);
    line-height: 135%;
}

.numbers__top {
    display: flex;
}

.play {
    margin-left: 70%;
}

.play > svg:hover > circle {
    fill: var(--bcg);
}

.status {
    margin-left: 41px;
}

.numbers__bottom {
    margin-top: 16px;
    width: 85%;
}

.topic > input {
    width: 100%;
    font-family: RobotoRegular, sans-serif;
    font-size: 16px;
    line-height: 135%;
    padding: 10px 20px;
    outline: none;
    color: var(--text);
    background-color: var(--bcg-block);
    border: none;
    border-radius: 10px;
}

.message > textarea {
    width: 100%;
    min-height: 168px;
    font-family: RobotoRegular, sans-serif;
    font-size: 16px;
    line-height: 135%;
    padding: 10px 20px;
    outline: none;
    resize: none;
    color: var(--text);
    background-color: var(--bcg-block);
    border: none;
    border-radius: 10px;
    margin: 15px 0 20px;
}

.btn__submit {
    width: 205px;
    height: 40px;
    background-color: #000;
    border-radius: 5px;
    cursor: pointer;
}

.btn__submit:hover {
    background-color: #C1A875;
}

.profile__sidenav_link span{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.profile__sidenav_link span img{
    margin-left: 10px;
}

.profile__sidenav_link span:last-child{
    margin: 0;
}
.profile__sidenav_link span:first-child{
    font-size: 18px;
}

.profile__sidenav{
    height: 545px;
    float: none;
}

.problem__description{
    color:#FFF;
    font-family: RobotoRegular, sans-serif;
    line-height: 150%;
    font-size: 16px;
    width: 63%;
    float: right;
}

.profile__sidenav_link{
    cursor: pointer;
}

@media(max-width: 1200px){
    .numbers{
        position: relative;
    }
    .play{
        position: absolute;
        right: 20px;
    }
    .online__chat_text{
        width: 80%;
    }
    .online__chat_submit{
        left: 75%;
    }
}
@media(max-width: 769px){
    .manager__box, .manager__box__active{
        display: block;
    }
    .top__box{
        display: block;
    }
    .offers__faq_content > ul{
        padding-left: 10px;
    }
    .dropdown__content{
        font-size: 12px;
    }
    .dropdown__content_text{
        font-size: 12px;
    }
    .support__chat{
        margin-top: 20px;
    }
    .support__chat_right > p{
        max-width: 100%;
    }
}

@media(max-width: 576px){
    .wrap{
        padding: 10px 5px;
        display: block;
    }
    .contact__link{
        display: inline-block;
    }
    .contact__link > span{
        display: block;
        width: 100%;
    }
    .contact__link > a{
        margin: 0;
        margin-right: 10px;
    }
    .call__back{
        padding: 10px 20px;
        width: 100%;
    }
    figcaption{
        margin-left: 0;
    }
    figure img{
        margin-right: 10px;
    }
    .offers__faq_content > ul{
        width: 100%;
        margin-bottom: 10px;
    }
    .offers__faq_description{
        display: block;
        width: 100%;
    }
    .offers__faq_content{
        display: block;
    }
    .offers__faq h2{
        margin-bottom: 0;
    }
    .support__chat h2{
        padding: 0;
        margin-top: 0;
        font-size: 16px;
    }
    .support__chat_right{
        margin-left: 0;
    }
    .support__chat_right > p{
        font-size: 12px;
        line-height: 14px;
    }
    .online__chat_text{
        width: 100%;
        padding-left: 10px;
    }
    .online__chat_submit{
        display: none;
    }
    .online__chat_foto {
        top: -42px;
        left: 240px;
    }
    .online__chat_document {
        top: -42px;
        left: 150px;
    }
    .applications h2{
        margin-top: 0;
        line-height: 26px;
        margin-bottom: 0;
    }
    .box__btn__choice{
        padding: 1px 10px;
    }
    .number__application{
        font-size: 14px;
    }
    .numbers__bottom{
        font-size: 12px;
        line-height: 16px;
    }
    .status{
        margin-left: 20px;
    }
}
