.authentification__block{
    display: flex;
    align-items: center;
    background-color: #20252B;
    border-radius: 10px;
    padding: 19px;
    position: relative;
    text-decoration: none;
    margin-top: 20px;
}
.authentification__block_img{
    position: relative;
    margin-right: 56px;

}
.authentification__block_img_child{
    position: absolute;
    bottom: -7px;
    left: 28px;
}

.authentification__block_text{
    color: white;
    font-family: RobotoRegular, sans-serif;
}

.conditions__block_switch{
    position: absolute;
    right: 40px;
}

@media(max-width: 1440px){
    .auth__input_instruction{
        display: none;
    }
}

@media(max-width: 769px){
    .profile__main{
        padding-left:10px;
    }
}
@media(max-width: 576px){
    .profile__sidenav, .profile__title{
        display: none;
    }
    .profile__main{
        padding-left: 0;
        display: block;
        width: 100%;
        margin: 0 auto;
        height: auto;
    }
    .profile__main_avatar_info_label{
        padding: 3px;
    }
    .profile__main_socials_info{
        font-size: 12px;
    }
    .profile__main_avatar_info_btn{
        width: 100px;
    }
    .profile__title_mobile{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 29px;
        background-color: #191A1F;
        text-align: center;
        position: relative;
        top: 0;
        width: 100%;
        border-bottom: 1px #20252B solid;
        padding: 20px 0;
    }
    .main__content{
        padding: 0;
    }
    .profile__title_mobile span{
        font-size: 14px;
        color: #FFF;
        font-family: RobotoRegular, sans-serif;
    }
    .profile__title_mobile a{
        position: absolute;
        left: 10px;
        transform: rotate(180deg);
    }
    html{
        background-color: #191A1F
    }
    .authentification__block_img{
        margin-right: 20px;
    }
    .authentification__block_text{
        font-size: 14px;
    }
}