.money__saved{
    border-radius: 10px;
    border: 1px solid #333;
    background: #000;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 10px;
    position: relative;
    margin-top: 12px;
}
.money__saved_logo{
    margin-right: 10px;
}

.money__saved_number{
    font-family: RobotoRegular, sans-serif;
}

.money__saved_icon{
    position: absolute;
    right: 15px;
    cursor: pointer;
}

.money__saved_change{
    right: 40px;
}

.profile__main_title_money{
    margin-top: 30px;
}

.profile__main_title_text{
    font-size: 16px;
}

.replenishment__container{
    margin: 0;
    padding: 0;
}
.replenishment__input{
    border-radius: 10px;
    border: 1px solid #333;
    background: #000;
    color: #fff;
    margin-top: 10px;
}

.system{
    margin-top: 10px;
}

.replenishment__valute_dropdown_value{
    border: 1px solid #333;
    background: #000;
    border-radius: 10px;
}

.system__list_text{
    text-transform: uppercase;
}

.system__list_text span{
    text-transform: none;
}

@media(max-width: 1440px){
    .auth__input_instruction{
        display: none;
    }
}

@media(max-width: 769px){
    .profile__main{
        padding-left:10px;
    }
}
@media(max-width: 576px){
    .profile__sidenav, .profile__title{
        display: none;
    }
    .profile__main{
        padding-left: 0;
        display: block;
        width: 100%;
        margin: 0 auto;
        height: auto;
    }
    .profile__main_avatar_info_label{
        padding: 3px;
    }
    .profile__main_socials_info{
        font-size: 12px;
    }
    .profile__main_avatar_info_btn{
        width: 100px;
    }
    .profile__title_mobile{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 29px;
        background-color: #191A1F;
        text-align: center;
        position: relative;
        top: 0;
        width: 100%;
        border-bottom: 1px #20252B solid;
        padding: 20px 0;
    }
    .main__content{
        padding: 0;
    }
    .profile__title_mobile span{
        font-size: 14px;
        color: #FFF;
        font-family: RobotoRegular, sans-serif;
    }
    .profile__title_mobile a{
        position: absolute;
        left: 10px;
        transform: rotate(180deg);
    }
    html{
        background-color: #191A1F
    }
}