body {
  margin: 0; }

.map {
  width: 100%;
  height: 550px; }

.btn {
  border: 1px solid #FD9800;
  box-sizing: border-box;
  border-radius: 20px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FD9800;
  font-size: 18px;
  font-family: 'Montserrat';
  text-decoration: none;
  transition: all .3s;
  cursor: pointer; }
  .btn:hover {
    background: #FD9800;
    color: #FFFFFF; }
  .btn:active {
    background: linear-gradient(180deg, #FD9800 0%, #FF5C00 100%);
    color: #FFFFFF;
    border: none; }
  .btn__fill {
    background: linear-gradient(180deg, #FD9800 0%, #FF5C00 100%);
    border-radius: 30px;
    color: #FFFFFF; }
    .btn__fill:hover {
      background: linear-gradient(180deg, #FD9800 0%, #FF5C00 100%); }
    .btn__fill:active {
      background: #FD9800; }
    .btn__fill:focus {
      background: linear-gradient(180deg, #FD9800 0%, #FF5C00 100%); }

.header__btn {
  width: 228px;
  margin-right: 10px; }

.title {
  font-family: Ubuntu;
  font-weight: 700;
  font-size: 40px;
  color: #FD9800;
  margin-bottom: 0;
  margin-top: 0;
  text-transform: uppercase; }
  .title-small {
    font-size: 25px;
    margin-top: 50px; }
  .title-black {
    font-size: 45px;
    display: inline-block;
    color: transparent;
    -webkit-background-clip: text;
    background-image: linear-gradient(180deg, #1F1E1B 0%, #505050 100%); }

.subtitle {
  font-family: Montserrat;
  font-weight: 300;
  font-size: 16px;
  margin-top: 15px; }
  .subtitle-black {
    color: #1F1E1B; }
  .subtitle-white {
    color: #ffffff; }
  .subtitle-small {
    font-size: 16px; }

.partners {
  padding-top: 120px;
  padding-bottom: 120px;
  background: #E5E5E5; }
  .partners__contact {
    background: linear-gradient(180deg, #F5F5F5 0%, #EFEFEF 100%);
    box-shadow: inset 0px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    width: 100%;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; }
    .partners__contact input {
      display: block;
      width: 100%;
      padding: 9px 30px 9px 15px;
      border: 1px solid #505050;
      background-color: transparent;
      border-radius: 5px;
      margin: 0 auto;
      margin-top: 18px; }
    .partners__contact form {
      width: 420px; }
      .partners__contact form span {
        font-family: Montserrat;
        font-weight: 300;
        font-size: 10px;
        line-height: 12px; }
        .partners__contact form span a {
          text-decoration: none;
          cursor: pointer; }
    .partners__contact-title {
      margin: 0; }
  .partners__btn {
    margin: 0 auto;
    width: 100%;
    margin-top: 20px; }

label {
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-left: 25px;
  margin-right: 15px;
  font-size: 13px; }

label:before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 10px;
  position: absolute;
  left: 0;
  bottom: 1px;
  background-color: transparent;
  border: none;
  background: url(../img/check2.svg) no-repeat 50%/cover; }

input[type=checkbox] {
  display: none; }

.checkbox label:before {
  border-radius: 3px; }

input[type=checkbox]:checked + label:before {
  content: "";
  background: url(../img/check.svg) no-repeat 50%/cover;
  font-size: 15px;
  color: #FD9800;
  text-align: center;
  line-height: 15px; }

input[type=tel] {
  margin-bottom: 14px; }

.checkbox {
  display: inline-block;
  width: 16px;
  height: 16px;
  height: 50px;
  margin-right: 10px;
  margin-top: 5px;
  float: left; }

header {
  height: 150px;
  background: linear-gradient(180deg, #1F1E1B 0%, #505050 100%);
  display: flex;
  align-items: center; }
  header .row {
    align-items: center; }

.header {
  z-index: 1; }
  .header__img {
    width: 100%; }
    .header__img img {
      width: 100%; }
  .header__wrapper .row {
    height: 40px; }
  .header__info a {
    font-size: 16px;
    font-family: 'Montserrat';
    color: #BBBBBB;
    font-weight: 300;
    text-decoration: none; }

.social {
  width: 40px;
  height: 40px;
  background: #FD9800;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px; }
  .social:hover {
    background: linear-gradient(180deg, #FD9800 0%, #FF5C00 100%); }

nav {
  display: flex;
  justify-content: space-between;
  margin-top: 25px; }

.mainmenubtn {
  border: none;
  cursor: pointer;
  color: #fff;
  font-size: 16px;
  transition: all .8s;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Ubuntu';
  font-weight: 700;
  display: block;
  height: 50px; }
  .mainmenubtn:after {
    content: '';
    display: inline-block;
    background: url(../img/arrow.svg) no-repeat 50%/cover;
    height: 8px;
    width: 14px;
    margin-left: 8px;
    margin-bottom: 3px;
    transition: all .5s; }
  .mainmenubtn:hover {
    color: #FD9800; }
    .mainmenubtn:hover:after {
      transform: rotate(180deg); }

.dropdown {
  position: relative;
  float: left; }

.dropdown-child {
  position: absolute;
  left: 0;
  width: 220px;
  background: linear-gradient(180deg, #1F1E1B 0%, #505050 100%);
  border-radius: 0px 0px 10px 10px;
  top: -90px;
  display: none; }
  .dropdown-child a {
    color: #fff;
    text-decoration: none;
    display: block;
    position: relative;
    padding: 3px 20px;
    font-family: Montserrat;
    font-size: 15px;
    transition: all .3s; }
    .dropdown-child a:nth-child(1) {
      padding-top: 10px; }
      .dropdown-child a:nth-child(1)::before {
        content: '';
        width: 100%;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #FD9800;
        height: 2px; }
    .dropdown-child a:nth-last-child(1) {
      padding-bottom: 10px; }
    .dropdown-child a:hover {
      background: #1F1E1B; }
      .dropdown-child a:hover:nth-last-child(1) {
        border-radius: 0px 0px 10px 10px; }

.dropdown:hover .dropdown-child {
  top: 50px;
  display: block; }

footer {
  padding-top: 120px;
  padding-bottom: 80px;
  background: linear-gradient(180deg, #1F1E1B 0%, #505050 100%); }

.footer__title {
  font-size: 18px;
  text-decoration: none; }

.footer__nav {
  display: flex;
  flex-direction: column;
  padding-top: 7px; }
  .footer__nav a {
    color: #FFFFFF;
    text-decoration: none;
    margin-top: 7px;
    font-family: Montserrat;
    font-size: 14px; }

.footer__social {
  margin-left: auto;
  margin-right: 15px; }
  .footer__social a {
    margin: 0;
    margin-left: 15px; }

.footer__copyright {
  font-family: Montserrat;
  color: #BBBBBB;
  font-size: 15px; }

.footer__img {
  width: 100%; }
  .footer__img img {
    width: 100%; }

.footer__block .flex {
  display: flex;
  align-items: center; }

.nav-wrapper {
  display: inline-flex;
  align-items: center;
  margin-top: 10px; }
  .nav-wrapper span {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 18px; }
    .nav-wrapper span a {
      text-decoration: none; }
  .nav-wrapper svg {
    margin-left: 10px;
    margin-right: 10px;
    width: 8px; }
    .nav-wrapper svg path {
      fill: #888888; }

.nav-block {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  align-items: center; }

.nav-past {
  color: #888888;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 18px; }
  .nav-past a {
    color: #888888; }

.nav-now {
  color: #FD9800; }

.pageup {
  display: none;
  position: fixed;
  bottom: 40px;
  right: 40px;
  width: 40px;
  height: 40px; }
  .pageup img {
    width: 100%; }

.road {
  background: url(../img/road.png) no-repeat 50%/cover;
  padding-top: 150px;
  padding-bottom: 160px; }
  .road__subtitle {
    color: #505050; }
  .road__guarantee {
    font-family: Montserrat;
    color: #505050;
    font-weight: 500;
    font-size: 15px;
    margin-top: 25px;
    display: flex;
    align-items: center; }
    .road__guarantee img {
      margin-right: 15px; }

.factory {
  background: url(../img/factory-bg.png) no-repeat 40%/cover;
  padding-top: 120px;
  padding-bottom: 130px; }
  .factory__wrapper {
    width: 100%;
    height: 190px;
    background: #FFFFFF;
    box-shadow: inset 0px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    padding: 20px 30px;
    margin-top: 50px;
    position: relative; }
    .factory__wrapper-title {
      font-family: Ubuntu;
      font-weight: 700;
      font-size: 25px;
      text-transform: uppercase;
      color: transparent;
      -webkit-background-clip: text;
      background-clip: text;
      background-image: linear-gradient(180deg, #1F1E1B 0%, #505050 100%); }
    .factory__wrapper-descr {
      font-family: Montserrat;
      font-weight: 300;
      font-size: 16px;
      margin-top: 10px;
      width: 530px; }
    .factory__wrapper-btn {
      margin-top: 15px;
      width: 169px; }
    .factory__wrapper-img {
      position: absolute;
      top: 0;
      right: 0; }

.asphalt {
  background: url(../img/asphalt-bg.png) no-repeat 60%/cover;
  padding-top: 120px;
  padding-bottom: 250px; }
  .asphalt__wrapper {
    background: linear-gradient(180deg, #F5F5F5 0%, #EFEFEF 100%);
    box-shadow: inset 0px 4px 10px rgba(0, 0, 0, 0.15); }
    .asphalt__wrapper-btn {
      border: 1px solid #505050;
      color: #505050; }
      .asphalt__wrapper-btn:hover {
        background: #505050; }
      .asphalt__wrapper-btn:active {
        background: linear-gradient(180deg, #505050 0%, #1F1E1B 100%); }
  .asphalt .factory__wrapper-descr {
    width: 500px; }

.material {
  background: linear-gradient(180deg, #1F1E1B 0%, #505050 100%);
  padding-top: 120px;
  padding-bottom: 195px; }
  .material__wrapper {
    height: 219px;
    padding: 30px; }
    .material__wrapper .factory__wrapper-btn {
      margin-top: 30px; }
    .material__wrapper .factory__wrapper-img {
      top: 40px;
      right: -50px; }

.tech {
  padding-top: 120px;
  padding-bottom: 219px; }
  .tech .factory__wrapper {
    height: 210px;
    padding: 20px; }
    .tech .factory__wrapper-img {
      top: 40px;
      right: -60px; }
    .tech .factory__wrapper-btn {
      position: absolute;
      bottom: 20px; }
    .tech .factory__wrapper-descr {
      font-size: 14px; }

.objects {
  background: linear-gradient(180deg, #F5F5F5 0%, #EFEFEF 100%);
  padding-top: 110px;
  padding-bottom: 115px; }
  .objects__btn {
    width: 100%;
    padding: 9px 0;
    border: 1px solid #505050;
    border-radius: 10px;
    font-family: Montserrat;
    font-size: 18px;
    cursor: pointer;
    color: #505050;
    transition: all .3s; }
    .objects__btn.active {
      border: 1px solid #FD9800;
      color: #FD9800; }
  .objects__wrapper-elem {
    background-color: #fff;
    border-radius: 20px;
    height: 300px; }
    .objects__wrapper-elem-img {
      border-radius: 20px 20px 0px 0px; }
      .objects__wrapper-elem-img img {
        width: 100%; }
    .objects__wrapper-elem-title {
      font-family: Montserrat;
      font-size: 14px;
      color: #505050;
      display: block;
      margin: 0 auto;
      margin-top: 10px;
      width: 90%; }
  .objects .subtitle {
    margin-bottom: 59px; }
  .objects .slick-prev, .objects .slick-next {
    border: none;
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    top: -90px;
    right: 0; }
  .objects .slick-prev {
    right: 40px; }
  .objects .gray svg path {
    transition: all .3s;
    fill: #505050; }

.company {
  padding-top: 150px;
  padding-bottom: 36px;
  background: #E5E5E5; }
  .company__wrapper {
    margin-top: 60px; }
    .company__wrapper-title {
      margin-top: 15px;
      color: transparent;
      -webkit-background-clip: text;
      background-image: linear-gradient(180deg, #1F1E1B 0%, #505050 100%);
      font-family: Ubuntu;
      font-weight: 700;
      font-size: 20px;
      text-transform: uppercase;
      margin-bottom: 10px; }
    .company__wrapper-descr {
      font-family: Montserrat;
      font-weight: 300;
      font-size: 15px; }
    .company__wrapper-img {
      width: 50px; }
      .company__wrapper-img img {
        width: 100%; }

.video {
  height: 600px;
  background: #FD9800;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }
  .video iframe {
    width: 860px;
    height: 500px;
    border-radius: 40px; }

.news {
  padding-top: 150px;
  padding-bottom: 36px;
  background: #E5E5E5; }
  .news a {
    text-decoration: none; }
  .news__wrapper {
    margin-top: 50px;
    background: linear-gradient(180deg, #F5F5F5 0%, #EFEFEF 100%);
    border-radius: 20px;
    width: 100%;
    height: 270px; }
    .news__wrapper img {
      border-radius: 20px 20px 0 0;
      background: linear-gradient(180deg, #F5F5F5 0%, #EFEFEF 100%);
      width: 100%; }
    .news__wrapper-block {
      margin: 10px 15px 0; }
    .news__wrapper-title {
      color: #FD9800;
      font-family: Ubuntu;
      font-weight: 700;
      font-size: 15px;
      text-transform: uppercase;
      margin-bottom: 7px; }
    .news__wrapper-descr {
      font-family: Montserrat;
      font-weight: 300;
      font-size: 14px;
      line-height: 17px;
      color: transparent;
      -webkit-background-clip: text;
      background-image: linear-gradient(180deg, #1F1E1B 0%, #505050 100%); }
  .news .btn {
    margin: 0 auto;
    margin-top: 50px;
    padding: 9px 30px; }

.new {
  padding-top: 150px;
  padding-bottom: 36px;
  background: #E5E5E5; }
  .new .title {
    margin-top: 10px;
    font-size: 28px; }
  .new__img img {
    width: 100%; }
  .new .row {
    margin-top: 50px; }
  .new__descr {
    color: transparent;
    -webkit-background-clip: text;
    background-image: linear-gradient(180deg, #1F1E1B 0%, #505050 100%);
    font-family: Montserrat;
    font-weight: 300;
    font-size: 18px;
    margin-top: 30px; }
    .new__descr a {
      color: transparent;
      text-decoration: none; }

.service {
  height: 400px;
  display: flex;
  align-items: center;
  background: linear-gradient(180deg, #1F1E1B 0%, #505050 100%); }
  .service__wrapper {
    text-decoration: none;
    display: block;
    background: #FFFFFF;
    box-shadow: inset 0px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    height: 130px;
    width: 100%;
    position: relative;
    padding: 20px 20px;
    cursor: pointer; }
    .service__wrapper:hover .service__wrapper-title {
      color: #FD9800; }
    .service__wrapper-title {
      font-family: Ubuntu;
      font-size: 16px;
      line-height: 18px;
      text-transform: uppercase;
      color: transparent;
      -webkit-background-clip: text;
      background-image: linear-gradient(180deg, #1F1E1B 0%, #505050 100%);
      transition: all .3s; }
    .service__wrapper-img {
      position: absolute;
      right: -20px;
      top: 30px; }

.work {
  padding: 150px 0 40px;
  background: #E5E5E5; }
  .work .nav-block {
    display: block;
    margin-bottom: 40px; }
  .work .nav-past {
    margin: 0; }
  .work__wrapper {
    background: linear-gradient(180deg, #F5F5F5 0%, #EFEFEF 100%);
    box-shadow: inset 0px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    width: 100%;
    height: 150px;
    padding: 10px;
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 20px; }
    .work__wrapper-text {
      font-family: Montserrat;
      font-weight: 500;
      font-size: 15px;
      line-height: 22px;
      width: 190px;
      display: inline-block; }
    .work__wrapper-img {
      position: absolute;
      right: 0;
      top: 0; }

.special {
  padding-top: 150px;
  background: #E5E5E5;
  padding-bottom: 60px; }
  .special .partners {
    padding-top: 0; }
  .special .row .special-active-border {
    border: 2px solid #FD9800; }
    .special .row .special-active-border .service__wrapper-title {
      color: #FD9800; }
  .special .nav-wrapper, .special .nav-block {
    display: block;
    margin-bottom: 60px; }
    .special .nav-wrapper .service__wrapper-title, .special .nav-block .service__wrapper-title {
      color: #FD9800; }
  .special .service__wrapper {
    border: 2px solid transparent;
    box-shadow: none; }
    .special .service__wrapper-img {
      top: 0;
      right: 0; }
  .special__wrapper {
    height: 220px; }
    .special__wrapper-title {
      font-family: Ubuntu;
      font-weight: 700;
      font-size: 20px; }
    .special__wrapper-subtitle {
      font-family: Montserrat;
      font-weight: 300;
      font-size: 15px;
      margin-top: 10px; }
    .special__wrapper-price {
      font-family: Ubuntu;
      font-weight: 500;
      font-size: 16px;
      line-height: 18px;
      color: #FD9800;
      margin-top: 10px; }
    .special__wrapper-img {
      position: absolute;
      top: 105px;
      right: -40px; }
  .special__blocks {
    display: none;
    margin-top: 100px; }
    .special__blocks-second .col-4 {
      margin-bottom: 120px; }
    .special__blocks-one {
      margin-top: 100px; }
      .special__blocks-one-wrapper {
        display: flex;
        align-items: center;
        margin-top: 50px; }
      .special__blocks-one-img img {
        width: 100%; }
      .special__blocks-one-descr {
        color: transparent;
        -webkit-background-clip: text;
        background-image: linear-gradient(180deg, #1F1E1B 0%, #505050 100%);
        font-family: Montserrat;
        font-weight: 300;
        font-size: 15px; }
  .special-active {
    display: block; }
  .special__block {
    margin-top: 150px; }
    .special__block span {
      color: transparent;
      -webkit-background-clip: text;
      background-image: linear-gradient(180deg, #1F1E1B 0%, #505050 100%); }
  .special .special__wrapper-active {
    display: flex; }
  .special .special__wrapper-title .service__wrapper-title {
    color: #FD9800; }

.lab {
  padding-top: 150px;
  padding-bottom: 36px;
  background: #E5E5E5; }
  .lab .nav-block {
    display: block; }
  .lab .title {
    display: block; }
  .lab__info {
    height: 150px;
    display: flex;
    align-items: center;
    margin-top: 50px; }
    .lab__info::before {
      content: '';
      display: inline-block;
      width: 25px;
      background: #FD9800;
      height: 100%;
      margin-right: 15px; }
    .lab__info-title {
      font-family: Montserrat;
      font-weight: 500;
      font-size: 18px;
      line-height: 22px; }
    .lab__info-descr {
      margin-top: 15px;
      font-family: Montserrat;
      font-weight: 300;
      font-size: 16px;
      line-height: 20px; }
    .lab__info-img img {
      width: 100%; }
  .lab .align {
    align-items: center; }
  .lab__table table {
    width: 100%;
    margin-top: 50px; }
    .lab__table table th {
      background: linear-gradient(180deg, #1F1E1B 0%, #505050 100%);
      font-family: Montserrat;
      font-weight: 500;
      font-size: 18px;
      line-height: 18px;
      color: #FFFFFF;
      padding-top: 10px;
      padding-bottom: 10px; }
    .lab__table table tr {
      background: #fff;
      font-family: Montserrat;
      font-weight: 400;
      font-size: 11px;
      line-height: 18px;
      color: #505050;
      text-align: left;
      padding-top: 10px;
      padding-bottom: 10px; }
      .lab__table table tr:nth-child(1) th:nth-child(1) {
        border-radius: 20px 0 0px 0px; }
      .lab__table table tr:nth-child(1) th:nth-child(3) {
        border-radius: 0px 20px 0px 0px; }
  .lab-slider {
    padding-top: 150px;
    padding-bottom: 36px;
    background: #E5E5E5; }
    .lab-slider__slide {
      width: 100%;
      height: 610px; }
      .lab-slider__slide img {
        width: 100%; }
      .lab-slider__slide .slick-prev, .lab-slider__slide .slick-next {
        border: none;
        background-color: transparent;
        cursor: pointer;
        position: absolute;
        top: -40px;
        left: 0;
        z-index: 99; }
      .lab-slider__slide .slick-next {
        left: 40px; }
      .lab-slider__slide .gray svg path {
        transition: all .3s;
        fill: #505050; }

.sector {
  padding-top: 150px;
  padding-bottom: 36px;
  background: #E5E5E5; }
  .sector__title {
    font-size: 25px;
    margin-top: 70px; }
  .sector__block {
    font-family: Montserrat;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    margin-top: 45px; }
    .sector__block span {
      font-weight: 500; }
    .sector__block-rectangle {
      width: 10px;
      height: 10px;
      background: #FD9800;
      float: left;
      margin-right: 20px;
      margin-top: 7px; }
    .sector__block-descr {
      display: inline-block;
      width: 90%; }

.products {
  margin-top: 50px; }
  .products .service__wrapper {
    height: 120px;
    border: 1px solid transparent;
    box-shadow: none;
    transition: all .3s; }
    .products .service__wrapper:active {
      border: 1px solid #FD9800; }
    .products .service__wrapper-img {
      top: 60px; }
