* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.first{
    background: url(../img/bg1.png) no-repeat 50%/cover;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main{
    border-radius: 8px;
    border: 1px solid #E7E7E7;
    background: rgba(0, 0, 0, 0.10);
    width: 676px;
    height: 480px;
    display: flex;
    overflow: hidden;
    align-items: center;
}

.main__wrapper{
    height: 164%;
    overflow: hidden;
}

.main video{
    width: auto;
    height: 664px;
    border-radius: 8px;
    float: left;
}

.main__block{
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 20px;
    color: #fff;
    width: 253px;
}

.main__block-title{
    font-family: "gilroy";
    font-size: 44px;
    margin-bottom: 24px;
}

.main__block-btn{
    width: 200px;
    height: 44px;
    font-family: "gilroy";
    font-size: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    border: 1px #fff solid;
    text-decoration: none;
}

.main__block-btn.white{
    color: #000;
    background-color: #fff;
}

.main__block-btn.black{
    color: #fff;
    background-color: #000;
    margin-top: 16px;
}

@media(max-width: 576px){
    .main{
        width: 100%;
    }
    .main video{
        width: 100%;
    }

    .main__block{
        width: 100%;
        margin-left: 5px;
    }
    .main__wrapper{
        height: auto;
    }
    .main__block-title{
        font-size: 30px;
    }

    .main__block-btn{
        width: 100%;
    }
}