body {
    min-width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.header__profile {
    width: 20%;
}

.main {
    flex-grow: 1;
}

.container {
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth {
    padding: 65px 50px;
    display: flex;
    justify-content: space-between;
    background-color: var(--bcg-block);
    border-radius: 15px;
}

.auth__form {
    margin-top: 20px;
    width: 45%;
    display: flex;
    flex-direction: column;
}

.auth__span {
    margin: 10px 0;
    font-family: RobotoRegular, sans-serif;
    font-size: 16px;
    color: var(--text);
    text-align: center;
}

.auth__title {
    font-size: 32px;
}

.auth__text {
    margin-top: 20px;
    font-family: RobotoRegular, sans-serif;
    font-size: 16px;
    color: var(--text);
}

.auth__input {
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    outline: none;
    background-color: #2E3337;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    color: #D9D9D9;
}

.error {
    margin-top: 10px;
    font-family: RobotoRegular, sans-serif;
    font-size: 16px;
    color: #FF0000;
}

.auth__next {
    margin-top: 10px;
    padding: 10px 0;
    width: 100%;
    background-color: var(--bcg-button);
    border-radius: 10px;
    font-family: RobotoRegular, sans-serif;
    font-size: 18px;
    color: var(--text);
    text-align: center;
    text-decoration: none;
}

.auth__next:hover {
    background-color: var(--bcg-button-hov);
} 

.auth__next:visited {
    color: var(--text);
}

.auth__create {
    margin-top: 15px;
    font-family: RobotoRegular, sans-serif;
    font-size: 16px;
    color: var(--bcg-button);
    text-decoration: none;
}

.auth__create:visited {
    color: var(--bcg-button);
}

.auth__create:hover {
    color: var(--bcg-button-hov);
}

.auth__service {
    margin-top: 10px;
    padding: 10px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #576265;
    border-radius: 15px;
    font-family: RobotoRegular, sans-serif;
    font-size: 18px;
    color: var(--text);
    text-decoration: none;
}

.auth__service:hover {
    border: 1px solid #C1A875
}

.auth__service:visited {
    color: var(--text);
}

.auth__service > img {
    margin-right: 10px;
}

.auth__content {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.auth__content_title {
    margin-top: 15px;
    font-family: RobotoRegular, sans-serif;
    font-size: 24px;
    color: var(--text);
    text-align: center;
}

.auth__content_text {
    margin-top: 15px;
    font-family: RobotoRegular, sans-serif;
    font-size: 16px;
    color: #A4A4A6;
    text-align: center;
}