body {
    min-width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.header__profile {
    width: auto;
}
.header__theme {
    margin-right: 30px;
}

.main {
    flex-grow: 1;
}

.container {
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth {
    padding: 25px 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: var(--bcg-block);
    border-radius: 15px;
}

.auth__form {
    margin-top: 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.auth__form > img {
    width: 420px;
    display: block;
    margin: 0 auto;
}

.auth__span {
    margin: 10px 0;
    font-family: RobotoRegular, sans-serif;
    font-size: 16px;
    color: var(--text);
}

.auth__title {
    margin-top: 20px;
    align-self: start;
    font-size: 32px;
}

.auth__steps {
    margin: 20px 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.auth__steps_box > p {
    font-family: RobotoRegular, sans-serif;
    font-size: 20px;
    color: var(--text);
}

.auth__steps_items {
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth__steps_item {
    margin: 10px 10px 0 0;
    width: 80px;
    height: 2px;
    border-radius: 50px;
    background-color: #FFF;
}

.auth__steps_item_active {
    background-color: #C1A875;
}

.auth__steps_link {
    padding: 10px 20px;
    background-color: #C1A875;
    border-radius: 10px;
    font-family: RobotoRegular, sans-serif;
    font-size: 16px;
    color: var(--text);
    text-align: center;
    text-decoration: none;
}

.auth__next:visited {
    color: var(--text);
}

.auth__text {
    margin: 15px auto;
    max-width: 600px;
    font-family: RobotoRegular, sans-serif;
    font-size: 20px;
    color: var(--text);
}

.auth__next {
    margin: 10px auto;
    padding: 15px 0;
    width: 50%;
    background-color: #C1A875;
    border-radius: 10px;
    font-family: RobotoRegular, sans-serif;
    font-size: 18px;
    color: var(--text);
    text-align: center;
    text-decoration: none;
}

.auth__next:hover {
    background-color: var(--bcg-button-hov);
}

.auth__next:visited {
    color: var(--text);
}

@media(max-width: 1200px){
    body{
        overflow: auto;
    }
    .auth__input_instruction{
        display: none;
    }
}

@media(max-width: 769px){
    .auth{
        display: block;
    }
    .auth__form{
        width: 100%;
    }
    .auth__content{
        width: 100%;
    }
    .auth__input_container{
        display: block;
    }
}

@media(max-width: 576px){
    .auth__input_container_video{
        width: 100%;
    }
    .input__select_arrow{
        display: none;
    }
    .input__select_value, .input__select_item{
        padding-left: 5px;
    }
    .auth__input, .auth__input_pass{
        font-size: 16px;
    }
    .auth__code{
        width: 100%;
    }
    .auth__code_text{
        font-size: 20px;
    }
    .auth{
        padding: 10px;
    }
    .auth__title{
        font-size: 20px;
    }
    .auth__next{
        font-size: 16px;
    }
    .auth__text{
        display: block;
        text-align: center;
        margin: 0 auto;
        margin-top: 20px;
    }
    .auth__content_title{
        font-size: 20px;
    }
    .auth__input, .auth__input_pass{
        width: 100%;
    }
    .auth__steps_link{
        display: none;
    }
    .auth__steps{
        padding-left: 0;
    }
    .auth__form > img{
        width: 100%;
    }
    html{
        background-color: #191A1F;
    }
}