body {
    min-width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.header__profile {
    width: 20%;
}

.main {
    flex-grow: 1;
}

.container {
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth {
    padding: 65px 50px;
    display: flex;
    justify-content: space-between;
    background-color: var(--bcg-block);
    border-radius: 15px;
}

.auth__form {
    margin-top: 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.auth__span {
    margin: 10px 0;
    font-family: RobotoRegular, sans-serif;
    font-size: 16px;
    color: var(--text);
}

.auth__title {
    font-size: 32px;
}

.auth__text {
    margin: 20px auto 0;
    max-width: 470px;
    font-family: RobotoRegular, sans-serif;
    font-size: 16px;
    color: var(--text);
}

.auth__code {
    margin: 20px auto;
    width: 70%;
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #191A1F;
    border-radius: 50px;
    color: #A4A4A6;
}

.auth__code_text {
    margin-right: 10%;
    display: flex;
    align-items: center;
    font-family: RobotoRegular, sans-serif;
    font-size: 24px;
}

.auth__code_text > span {
    margin-left: 10px;
    padding: 3px;
    border: 1px solid #FFF;
    border-radius: 10px;
    color: #FFF;
}

.auth__input {
    width: 100%;
    padding: 10px;
    outline: none;
    background-color: #2E3337;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    color: #D9D9D9;
}
.error {
    margin-top: 10px;
    max-width: 400px;
    font-family: RobotoRegular, sans-serif;
    font-size: 16px;
    color: #FF0000;
}

.auth__next {
    margin-top: 20px;
    padding: 10px 0;
    width: 100%;
    background-color: var(--bcg-button);
    border-radius: 10px;
    font-family: RobotoRegular, sans-serif;
    font-size: 18px;
    color: var(--text);
    text-align: center;
    text-decoration: none;
}

.auth__next:visited {
    color: var(--text);
}

.auth__next:hover {
    background-color: var(--bcg-button-hov);
}

.auth__text-repeat{
    margin: 0;
    margin-top: 10px;
    cursor: pointer;
    text-align: center;
}

.auth__text-repeat:hover{
    color: #c9c9c9;
}